<h1 id="bindings">Bindings</h1>
<p>Creative people have written bindings or interfaces for various environments and programming languages. Using one of these allows you to take advantage of the power of curl from within your favorite language or system. This is a list of all known interfaces, as of the time of this writing.</p>
<p>The bindings listed below are not part of the curl/libcurl distribution archives. They must be downloaded and installed separately.</p>
<table>
<colgroup>
<col style="width: 33%" />
<col style="width: 33%" />
<col style="width: 33%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Language</th>
<th style="text-align: left;">Site</th>
<th style="text-align: left;">Author(s)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Script Basic</td>
<td style="text-align: left;"><a href="http://scriptbasic.com/" class="uri">http://scriptbasic.com/</a></td>
<td style="text-align: left;">Peter Verhas</td>
</tr>
<tr class="even">
<td style="text-align: left;">C++</td>
<td style="text-align: left;"><a href="http://curlpp.org/" class="uri">http://curlpp.org/</a></td>
<td style="text-align: left;">Jean-Philippe, Barrette-LaPierre</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Ch/C++</td>
<td style="text-align: left;"><a href="https://chcurl.sourceforge.io/" class="uri">https://chcurl.sourceforge.io/</a></td>
<td style="text-align: left;">Stephen Nestinger, Jonathan Rogado</td>
</tr>
<tr class="even">
<td style="text-align: left;">Cocoa (BBHTTP)</td>
<td style="text-align: left;"><a href="https://github.com/brunodecarvalho/BBHTTP" class="uri">https://github.com/brunodecarvalho/BBHTTP</a></td>
<td style="text-align: left;">Bruno de Carvalho</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Cocoa (CURLHandle)</td>
<td style="text-align: left;"><a href="https://github.com/karelia/curlhandle/" class="uri">https://github.com/karelia/curlhandle/</a></td>
<td style="text-align: left;">Dan Wood</td>
</tr>
<tr class="even">
<td style="text-align: left;">D</td>
<td style="text-align: left;"><a href="https://dlang.org/library/std/net/curl.html" class="uri">https://dlang.org/library/std/net/curl.html</a></td>
<td style="text-align: left;">Kenneth Bogert</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Delphi</td>
<td style="text-align: left;"><a href="https://github.com/Mercury13/curl4delphi" class="uri">https://github.com/Mercury13/curl4delphi</a></td>
<td style="text-align: left;">Mikhail Merkuryev</td>
</tr>
<tr class="even">
<td style="text-align: left;">Dylan</td>
<td style="text-align: left;"><a href="https://opendylan.org/" class="uri">https://opendylan.org/</a></td>
<td style="text-align: left;">Chris Double</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Eiffel</td>
<td style="text-align: left;"><a href="https://room.eiffel.com/library/curl" class="uri">https://room.eiffel.com/library/curl</a></td>
<td style="text-align: left;">Eiffel Software</td>
</tr>
<tr class="even">
<td style="text-align: left;">Falcon</td>
<td style="text-align: left;"><a href="http://www.falconpl.org/" class="uri">http://www.falconpl.org/</a></td>
<td style="text-align: left;">Falcon</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Gambas</td>
<td style="text-align: left;"><a href="https://gambas.sourceforge.io/" class="uri">https://gambas.sourceforge.io/</a></td>
<td style="text-align: left;">Gambas</td>
</tr>
<tr class="even">
<td style="text-align: left;">glib/GTK+</td>
<td style="text-align: left;"><a href="http://atterer.org/glibcurl" class="uri">http://atterer.org/glibcurl</a></td>
<td style="text-align: left;">Richard Atterer</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Go</td>
<td style="text-align: left;"><a href="https://github.com/andelf/go-curl" class="uri">https://github.com/andelf/go-curl</a></td>
<td style="text-align: left;">ShuYu Wang</td>
</tr>
<tr class="even">
<td style="text-align: left;">Guile</td>
<td style="text-align: left;"><a href="http://www.lonelycactus.com/guile-curl.html" class="uri">http://www.lonelycactus.com/guile-curl.html</a></td>
<td style="text-align: left;">Michael L. Gran</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Harbour</td>
<td style="text-align: left;"><a href="https://github.com/vszakats/harbour-core/tree/master/contrib/hbcurl" class="uri">https://github.com/vszakats/harbour-core/tree/master/contrib/hbcurl</a></td>
<td style="text-align: left;">Viktor Szakáts</td>
</tr>
<tr class="even">
<td style="text-align: left;">Haskell</td>
<td style="text-align: left;"><a href="https://hackage.haskell.org/package/curl" class="uri">https://hackage.haskell.org/package/curl</a></td>
<td style="text-align: left;">Galois, Inc</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Java</td>
<td style="text-align: left;"><a href="https://github.com/pjlegato/curl-java" class="uri">https://github.com/pjlegato/curl-java</a></td>
<td style="text-align: left;">Paul Legato</td>
</tr>
<tr class="even">
<td style="text-align: left;">Julia</td>
<td style="text-align: left;"><a href="https://github.com/JuliaWeb/LibCURL.jl" class="uri">https://github.com/JuliaWeb/LibCURL.jl</a></td>
<td style="text-align: left;">JuliaWeb</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Lisp</td>
<td style="text-align: left;"><a href="https://common-lisp.net/project/cl-curl/" class="uri">https://common-lisp.net/project/cl-curl/</a></td>
<td style="text-align: left;">Liam Healy</td>
</tr>
<tr class="even">
<td style="text-align: left;">Lua (luacurl)</td>
<td style="text-align: left;"><a href="http://luacurl.luaforge.net/" class="uri">http://luacurl.luaforge.net/</a></td>
<td style="text-align: left;">Alexander Marinov</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Lua-cURL</td>
<td style="text-align: left;"><a href="https://github.com/Lua-cURL/Lua-cURLv3" class="uri">https://github.com/Lua-cURL/Lua-cURLv3</a></td>
<td style="text-align: left;">Jürgen Hötzel, Alexey Melnichuk</td>
</tr>
<tr class="even">
<td style="text-align: left;">.NET</td>
<td style="text-align: left;"><a href="https://github.com/masroore/CurlSharp" class="uri">https://github.com/masroore/CurlSharp</a></td>
<td style="text-align: left;">Masroor Ehsan Choudhury, Jeffrey Phillips</td>
</tr>
<tr class="odd">
<td style="text-align: left;">NodeJS</td>
<td style="text-align: left;"><a href="https://github.com/JCMais/node-libcurl" class="uri">https://github.com/JCMais/node-libcurl</a></td>
<td style="text-align: left;">Jonathan Cardoso Machado</td>
</tr>
<tr class="even">
<td style="text-align: left;">OCaml</td>
<td style="text-align: left;"><a href="http://ygrek.org.ua/p/ocurl/" class="uri">http://ygrek.org.ua/p/ocurl/</a></td>
<td style="text-align: left;">Lars Nilsson</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Pascal/Delphi/Kylix</td>
<td style="text-align: left;"><a href="https://curlpas.sourceforge.io/curlpas/" class="uri">https://curlpas.sourceforge.io/curlpas/</a></td>
<td style="text-align: left;">Jeffrey Pohlmeyer.</td>
</tr>
<tr class="even">
<td style="text-align: left;">Perl</td>
<td style="text-align: left;"><a href="https://github.com/szbalint/WWW--Curl" class="uri">https://github.com/szbalint/WWW--Curl</a></td>
<td style="text-align: left;">Cris Bailiff and Bálint Szilakszi</td>
</tr>
<tr class="odd">
<td style="text-align: left;">PHP</td>
<td style="text-align: left;"><a href="https://php.net/curl" class="uri">https://php.net/curl</a></td>
<td style="text-align: left;">Sterling Hughes</td>
</tr>
<tr class="even">
<td style="text-align: left;">PostgreSQL</td>
<td style="text-align: left;"><a href="https://github.com/pramsey/pgsql-http" class="uri">https://github.com/pramsey/pgsql-http</a></td>
<td style="text-align: left;">Paul Ramsey</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Python (PycURL)</td>
<td style="text-align: left;"><a href="https://github.com/pycurl/pycurl" class="uri">https://github.com/pycurl/pycurl</a></td>
<td style="text-align: left;">Kjetil Jacobsen</td>
</tr>
<tr class="even">
<td style="text-align: left;">R</td>
<td style="text-align: left;"><a href="https://cran.r-project.org/package=curl" class="uri">https://cran.r-project.org/package=curl</a></td>
<td style="text-align: left;">Jeroen Ooms, Hadley Wickham, RStudio</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Rexx</td>
<td style="text-align: left;"><a href="https://rexxcurl.sourceforge.io/" class="uri">https://rexxcurl.sourceforge.io/</a></td>
<td style="text-align: left;">Mark Hessling</td>
</tr>
<tr class="even">
<td style="text-align: left;">Ring</td>
<td style="text-align: left;"><a href="https://ring-lang.sourceforge.io/doc1.3/libcurl.html" class="uri">https://ring-lang.sourceforge.io/doc1.3/libcurl.html</a></td>
<td style="text-align: left;">Mahmoud Fayed</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Ruby (curb)</td>
<td style="text-align: left;"><a href="https://github.com/taf2/curb" class="uri">https://github.com/taf2/curb</a></td>
<td style="text-align: left;">Ross Bamford</td>
</tr>
<tr class="even">
<td style="text-align: left;">Ruby (ruby-curl-multi)</td>
<td style="text-align: left;"><a href="http://curl-multi.rubyforge.org/" class="uri">http://curl-multi.rubyforge.org/</a></td>
<td style="text-align: left;">Kristjan Petursson and Keith Rarick</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Rust (curl-rust)</td>
<td style="text-align: left;"><a href="https://github.com/carllerche/curl-rust" class="uri">https://github.com/carllerche/curl-rust</a></td>
<td style="text-align: left;">Carl Lerche</td>
</tr>
<tr class="even">
<td style="text-align: left;">Scheme Bigloo</td>
<td style="text-align: left;"><a href="https://www.metapaper.net/lisovsky/web/curl/" class="uri">https://www.metapaper.net/lisovsky/web/curl/</a></td>
<td style="text-align: left;">Kirill Lisovsky</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Scilab</td>
<td style="text-align: left;"><a href="https://help.scilab.org/docs/current/fr_FR/getURL.html" class="uri">https://help.scilab.org/docs/current/fr_FR/getURL.html</a></td>
<td style="text-align: left;">Sylvestre Ledru</td>
</tr>
<tr class="even">
<td style="text-align: left;">S-Lang</td>
<td style="text-align: left;"><a href="https://www.jedsoft.org/slang/modules/curl.html" class="uri">https://www.jedsoft.org/slang/modules/curl.html</a></td>
<td style="text-align: left;">John E Davis</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Smalltalk</td>
<td style="text-align: left;"><a href="http://www.squeaksource.com/CurlPlugin/" class="uri">http://www.squeaksource.com/CurlPlugin/</a></td>
<td style="text-align: left;">Danil Osipchuk</td>
</tr>
<tr class="even">
<td style="text-align: left;">SP-Forth</td>
<td style="text-align: left;"><a href="http://www.forth.org.ru/~ac/lib/lin/curl/" class="uri">http://www.forth.org.ru/~ac/lib/lin/curl/</a></td>
<td style="text-align: left;">ygrek</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Tcl</td>
<td style="text-align: left;"><a href="http://mirror.yellow5.com/tclcurl/" class="uri">http://mirror.yellow5.com/tclcurl/</a></td>
<td style="text-align: left;">Andrés García</td>
</tr>
<tr class="even">
<td style="text-align: left;">Visual Basic</td>
<td style="text-align: left;"><a href="https://sourceforge.net/projects/libcurl-vb/" class="uri">https://sourceforge.net/projects/libcurl-vb/</a></td>
<td style="text-align: left;">Jeffrey Phillips</td>
</tr>
<tr class="odd">
<td style="text-align: left;">wxWidgets</td>
<td style="text-align: left;"><a href="https://wxcode.sourceforge.io/components/wxcurl/" class="uri">https://wxcode.sourceforge.io/components/wxcurl/</a></td>
<td style="text-align: left;">Casey O’Donnell</td>
</tr>
<tr class="even">
<td style="text-align: left;">Xojo</td>
<td style="text-align: left;"><a href="https://github.com/charonn0/RB-libcURL" class="uri">https://github.com/charonn0/RB-libcURL</a></td>
<td style="text-align: left;">Andrew Lambert</td>
</tr>
</tbody>
</table>
