<h1 id="index">Index</h1>
<h2 id="section">.</h2>
<ul class="incremental">
<li>.netrc: <a href="cmdline-passwords.html#command-line-leakage">Command line leakage</a>, <a href="usingcurl-netrc.html#netrc">.netrc</a> ## /</li>
<li>/etc/hosts: <a href="cmdline-urls.html#host-name-or-address">Host name or address</a>, <a href="usingcurl-connections.html#edit-the-hosts-file">Edit the hosts file</a> ## &lt;</li>
<li>&lt;curl/curl.h&gt;: <a href="sourcecode-layout.html#include/curl">include/curl</a>, <a href="libcurl-url.html#include-files">Include files</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurl-headers.html#header-files">Header files</a>, <a href="libcurlex-get.html#get-a-simple-html-page">Get a simple HTML page</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a> ## A</li>
<li>–alt-svc: <a href="http-altsvc.html#enable">Enable</a></li>
<li>–anyauth: <a href="http-auth.html#http-authentication">HTTP authentication</a></li>
<li>apt: <a href="get-curl-linux.html#ubuntu-and-debian">Ubuntu and Debian</a></li>
<li>Arch Linux: <a href="get-curl-linux.html#arch-linux">Arch Linux</a> ## B</li>
<li>-b: <a href="http-cookies.html#cookie-engine">Cookie engine</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a>, <a href="http-browserlike.html#web-logins-and-sessions">Web logins and sessions</a></li>
<li>–basic: <a href="http-auth.html#http-authentication">HTTP authentication</a></li>
<li>BoringSSL: <a href="building-source.html#select-tls-backend">Select TLS backend</a>, <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a>, <a href="building-boringssl.html#build-curl-with-boringssl">Build curl with boringssl</a> ## C</li>
<li>-c: <a href="http-cookies.html#writing-cookies-to-file">Writing cookies to file</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a>, <a href="http-browserlike.html#web-logins-and-sessions">Web logins and sessions</a></li>
<li>c-ares: <a href="building-deps.html#c-ares">c-ares</a>, <a href="usingcurl-connections.html#name-resolve-tricks-with-c-ares">Name resolve tricks with c-ares</a>, <a href="libcurl-names.html#name-resolver-backends">Name resolver backends</a></li>
<li>C89: <a href="sourcecode-style.html#comments">Comments</a>, <a href="building.html#building-and-installing">Building and installing</a></li>
<li>CA: <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="usingcurl-proxies.html#mitm-proxies">MITM-proxies</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-tls.html#verifying-server-certificates">Verifying server certificates</a>, <a href="libcurl-tlsoptions.html#verification">Verification</a></li>
<li>Chrome: <a href="tls-sslkeylogfile.html#sslkeylogfile">SSLKEYLOGFILE</a>, <a href="usingcurl-copyas.html#copy-as-curl">Copy as curl</a></li>
<li>clone: <a href="sourcecode.html#clone-the-code">Clone the code</a>, <a href="sourcecode-contributing.html#git">git</a>, <a href="sourcecode-web.html#web-site-source-code">Web site source code</a>, <a href="building-boringssl.html#build-boringssl">build boringssl</a></li>
<li>code of conduct: <a href="opensource-coc.html#code-of-conduct">Code of conduct</a></li>
<li>–compressed: <a href="usingcurl-downloads.html#compression">Compression</a>, <a href="http-response.html#gzipped-transfers">Gzipped transfers</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a></li>
<li>configure: <a href="sourcecode-layout.html#root">root</a>, <a href="sourcecode-options.html#handling-different-build-options">Handling different build options</a>, <a href="building-source.html#on-linux-and-unix-like-systems">On Linux and Unix-like systems</a>, <a href="building-tls.html#configure">configure</a>, <a href="building-boringssl.html#set-up-the-build-tree-to-get-detected-by-curl&#39;s-configure">set up the build tree to get detected by curl’s configure</a></li>
<li>–connect-timeout: <a href="usingcurl-connections.html#connection-timeout">Connection timeout</a>, <a href="usingcurl-timeouts.html#never-spend-more-than-this-to-connect">Never spend more than this to connect</a></li>
<li>–connect-to: <a href="usingcurl-connections.html#provide-a-replacement-name">Provide a replacement name</a></li>
<li>connection cache: <a href="usingcurl-persist.html#persistent-connections">Persistent connections</a>, <a href="libcurl-connectionreuse.html#connection-reuse">Connection reuse</a>, <a href="libcurl-sharing.html#sharing-between-easy-handles">Sharing between easy handles</a></li>
<li>connection pool: <a href="cmdline-urls.html#connection-reuse">Connection reuse</a>, <a href="libcurl-connectionreuse.html#connection-reuse">Connection reuse</a></li>
<li>Connection reuse: <a href="cmdline-urls.html#connection-reuse">Connection reuse</a>, <a href="libcurl-connectionreuse.html#connection-reuse">Connection reuse</a></li>
<li>content-encoding: <a href="usingcurl-downloads.html#compression">Compression</a>, <a href="http-response.html#transfer-encoding">Transfer encoding</a></li>
<li>contribute: <a href="opensource-coc.html#code-of-conduct">Code of conduct</a>, <a href="sourcecode-contributing.html#contributing">Contributing</a></li>
<li>Contributing: <a href="sourcecode-layout.html#docs">docs</a>, <a href="sourcecode-contributing.html#contributing">Contributing</a></li>
<li>Cookie engine: <a href="http-cookies.html#cookie-engine">Cookie engine</a>, <a href="libcurl-http-cookies.html#cookie-engine">Cookie engine</a></li>
<li>Cookies: <a href="sourcecode-layout.html#docs">docs</a>, <a href="building-deps.html#libpsl">libpsl</a>, <a href="usingcurl-downloads.html#server-differences">Server differences</a>, <a href="usingcurl-connections.html#change-the-host:-header">Change the Host: header</a>, <a href="usingcurl-copyas.html#not-perfect">Not perfect</a>, <a href="http-auth.html#http-authentication">HTTP authentication</a>, <a href="http-cookies.html#cookies">Cookies</a>, <a href="http-browserlike.html#cookies">Cookies</a>, <a href="libcurl.html#simple-by-default,-more-on-demand">Simple by default, more on demand</a>, <a href="libcurl-getinfo.html#available-information">Available information</a>, <a href="libcurl-sharing.html#sharing-between-easy-handles">Sharing between easy handles</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-auth.html#http-authentication">HTTP authentication</a>, <a href="libcurl-http-cookies.html#cookies-with-libcurl">Cookies with libcurl</a></li>
<li>copyright: <a href="opensource-license.html#license">License</a>, <a href="opensource-copyright.html#copyright">Copyright</a></li>
<li>curl-announce: <a href="curl-maillists.html#curl-announce">curl-announce</a>, <a href="sourcecode-reportvuln.html#vulnerability-handling">Vulnerability handling</a></li>
<li>curl-library: <a href="curl-maillists.html#curl-users">curl-users</a>, <a href="sourcecode-contributing.html#make-a-patch-for-the-mailing-list">Make a patch for the mailing list</a>, <a href="sourcecode-reportvuln.html#vulnerability-handling">Vulnerability handling</a></li>
<li>curl-users: <a href="curl-maillists.html#curl-users">curl-users</a>, <a href="sourcecode-reportvuln.html#vulnerability-handling">Vulnerability handling</a></li>
<li>CURLE_ABORTED_BY_CALLBACK: <a href="callback-progress.html#progress-callback">Progress callback</a></li>
<li>CURLMOPT_SOCKETFUNCTION: <a href="libcurl-drive-multi-socket.html#socket_callback">socket_callback</a></li>
<li>CURLMOPT_TIMERFUNCTION: <a href="libcurl-drive-multi-socket.html#timer_callback">timer_callback</a></li>
<li>CURLOPT_CLOSEOCKETFUNCTION: <a href="callback-openclosesocket.html#socket-close-callback">Socket close callback</a></li>
<li>CURLOPT_COOKIE: <a href="libcurl-http-cookies.html#setting-custom-cookies">Setting custom cookies</a></li>
<li>CURLOPT_COOKIEFILE: <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-cookies.html#enable-cookie-engine-with-reading">Enable cookie engine with reading</a></li>
<li>CURLOPT_COOKIEJAR: <a href="libcurl-http-cookies.html#enable-cookie-engine-with-writing">Enable cookie engine with writing</a></li>
<li>CURLOPT_COOKIELIST: <a href="libcurl-http-cookies.html#add-a-cookie-to-the-cookie-store">Add a cookie to the cookie store</a></li>
<li>CURLOPT_CURLU: <a href="libcurl-url.html#curlopt_curlu">CURLOPT_CURLU</a></li>
<li>CURLOPT_CUSTOMREQUEST: <a href="libcurl-http-requests.html#request-method">Request method</a></li>
<li>CURLOPT_DEBUGDATA: <a href="callback-debug.html#debug-callback">Debug callback</a>, <a href="libcurl-verbose.html#trace-everything">Trace everything</a></li>
<li>CURLOPT_DEBUGFUNCTION: <a href="callback-debug.html#debug-callback">Debug callback</a>, <a href="libcurl-verbose.html#trace-everything">Trace everything</a></li>
<li>CURLOPT_DNS_CACHE_TIMEOUT: <a href="libcurl-names.html#caching">Caching</a></li>
<li>CURLOPT_DNS_INTERFACE: <a href="libcurl-names.html#name-server-options">Name server options</a></li>
<li>CURLOPT_DNS_LOCAL_IP4: <a href="libcurl-names.html#name-server-options">Name server options</a></li>
<li>CURLOPT_DNS_LOCAL_IP6: <a href="libcurl-names.html#name-server-options">Name server options</a></li>
<li>CURLOPT_DNS_SERVERS: <a href="libcurl-names.html#name-server-options">Name server options</a></li>
<li>CURLOPT_DNS_USE_GLOBAL_CACHE: <a href="libcurl-names.html#no-global-dns-cache">No global DNS cache</a></li>
<li>CURLOPT_ERRORBUFFER: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurl-curlcode.html#curlcode-return-code">CURLcode return code</a></li>
<li>CURLOPT_FAILONERROR: <a href="libcurl-http-responses.html#about-http-response-code-%22errors%22">About HTTP response code “errors”</a></li>
<li>CURLOPT_HEADER: <a href="callback-write.html#write-callback">Write callback</a>, <a href="libcurl-http-requests.html#referrer">Referrer</a>, <a href="libcurl-http-download.html#download-headers-too">Download headers too</a></li>
<li>CURLOPT_HEADERDATA: <a href="callback-header.html#header-callback">Header callback</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurl-http-download.html#download-headers-too">Download headers too</a></li>
<li>CURLOPT_HEADERFUNCTION: <a href="callback-header.html#header-callback">Header callback</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_HTTPGET: <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-download.html#libcurl-http-download">libcurl HTTP download</a></li>
<li>CURLOPT_HTTPHEADER: <a href="libcurl-http-requests.html#add-a-header">Add a header</a></li>
<li>CURLOPT_HTTPPOST: <a href="libcurl-http-upload.html#http-multipart-formposts">HTTP multipart formposts</a></li>
<li>CURLOPT_IPRESOLVE: <a href="libcurl-names.html#name-resolving">Name resolving</a></li>
<li>CURLOPT_MAXFILE_LARGE: <a href="libcurl-options.html#setting-numerical-options">Setting numerical options</a></li>
<li>CURLOPT_MAXREDIRS: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_NOBODY: <a href="libcurl-http-requests.html#request-method">Request method</a></li>
<li>CURLOPT_NOPROGRESS: <a href="callback-progress.html#progress-callback">Progress callback</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_OPENSOCKETDATA: <a href="callback-openclosesocket.html#provide-a-file-descriptor">Provide a file descriptor</a></li>
<li>CURLOPT_OPENSOCKETFUNCTION: <a href="callback-openclosesocket.html#provide-a-file-descriptor">Provide a file descriptor</a></li>
<li>CURLOPT_POST: <a href="libcurl-http-upload.html#http-post">HTTP POST</a></li>
<li>CURLOPT_POSTFIELDS: <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-requests.html#request-method">Request method</a>, <a href="libcurl-http-upload.html#http-post">HTTP POST</a></li>
<li>CURLOPT_POSTFIELDSIZE: <a href="libcurl-http-upload.html#http-post">HTTP POST</a></li>
<li>CURLOPT_POSTREDIR: <a href="http-redirects.html#decide-what-method-to-use-in-redirects">Decide what method to use in redirects</a></li>
<li>CURLOPT_PROGRESSFUNCTION: <a href="callback-progress.html#progress-callback">Progress callback</a></li>
<li>CURLOPT_PROXY: <a href="libcurl-proxies.html#proxy-types">Proxy types</a></li>
<li>CURLOPT_PROXYPORT: <a href="libcurl-proxies.html#proxy-types">Proxy types</a></li>
<li>CURLOPT_PROXYTYPE: <a href="libcurl-proxies.html#proxy-types">Proxy types</a></li>
<li>CURLOPT_READDATA: <a href="callback-read.html#read-callback">Read callback</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_READFUNCTION: <a href="callback-read.html#read-callback">Read callback</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurl-http-upload.html#http-post">HTTP POST</a></li>
<li>CURLOPT_RESOLVE: <a href="libcurl-names.html#custom-addresses-for-hosts">Custom addresses for hosts</a></li>
<li>CURLOPT_SEEKDATA: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_SEEKFUNCTION: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_SOCKOPTDATA: <a href="callback-sockopt.html#sockopt-callback">sockopt callback</a></li>
<li>CURLOPT_SOCKOPTFUNCTION: <a href="callback-sockopt.html#sockopt-callback">sockopt callback</a></li>
<li>CURLOPT_SSH_KNOWNHOSTS: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_SSLVERSION: <a href="libcurl-tlsoptions.html#protocol-version">Protocol version</a></li>
<li>CURLOPT_SSL_VERIFYHOST: <a href="libcurl-tlsoptions.html#verification">Verification</a></li>
<li>CURLOPT_SSL_VERIFYPEER: <a href="libcurl-proxies.html#https-proxy">HTTPS proxy</a>, <a href="libcurl-tlsoptions.html#verification">Verification</a></li>
<li>CURLOPT_STDERR: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurl-verbose.html#verbose-operations">Verbose operations</a></li>
<li>CURLOPT_TCP_KEEPALIVE: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>CURLOPT_TIMEOUT: <a href="libcurl-options.html#setting-numerical-options">Setting numerical options</a></li>
<li>CURLOPT_TLSAUTH_USERNAME: <a href="libcurl-tlsoptions.html#tls-auth">TLS auth</a></li>
<li>CURLOPT_UPLOAD: <a href="libcurl-http-requests.html#request-method">Request method</a>, <a href="libcurl-http-upload.html#http-put">HTTP PUT</a></li>
<li>CURLOPT_URL: <a href="libcurl-easyhandle.html#easy-handle">Easy handle</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurl-options.html#set-handle-options">Set handle options</a>, <a href="libcurlex-get.html#get-a-simple-html-page">Get a simple HTML page</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-requests.html#request-method">Request method</a>, <a href="libcurl-http-download.html#libcurl-http-download">libcurl HTTP download</a>, <a href="libcurl-http-upload.html#http-put">HTTP PUT</a></li>
<li>CURLOPT_USERAGENT: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a></li>
<li>CURLOPT_VERBOSE: <a href="libcurl-verbose.html#verbose-operations">Verbose operations</a>, <a href="libcurl-http-download.html#download-headers-too">Download headers too</a></li>
<li>CURLOPT_WRITEDATA: <a href="callback-write.html#write-callback">Write callback</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a></li>
<li>CURLOPT_WRITEFUNCTION: <a href="callback-write.html#write-callback">Write callback</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a></li>
<li>CURLOPT_XFERINFODATA: <a href="callback-progress.html#progress-callback">Progress callback</a></li>
<li>CURLOPT_XFERINFOFUNCTION: <a href="callback-progress.html#progress-callback">Progress callback</a></li>
<li>CURLUPART_FRAGMENT: <a href="libcurl-url.html#get-individual-url-parts">Get individual URL parts</a></li>
<li>CURLUPART_HOST: <a href="libcurl-url.html#get-individual-url-parts">Get individual URL parts</a></li>
<li>CURLUPART_PASSWORD: <a href="libcurl-url.html#get-individual-url-parts">Get individual URL parts</a></li>
<li>CURLUPART_PATH: <a href="libcurl-url.html#get-individual-url-parts">Get individual URL parts</a></li>
<li>CURLUPART_PORT: <a href="libcurl-url.html#get-individual-url-parts">Get individual URL parts</a></li>
<li>CURLUPART_QUERY: <a href="libcurl-url.html#get-individual-url-parts">Get individual URL parts</a></li>
<li>CURLUPART_USER: <a href="libcurl-url.html#get-individual-url-parts">Get individual URL parts</a></li>
<li>curl_easy_cleanup: <a href="libcurl-cleanup.html#easy-handle">easy handle</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurlex-get.html#get-a-simple-html-page">Get a simple HTML page</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-cookies.html#enable-cookie-engine-with-writing">Enable cookie engine with writing</a></li>
<li>curl_easy_init: <a href="libcurl-easyhandle.html#easy-handle">Easy handle</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurlex-get.html#get-a-simple-html-page">Get a simple HTML page</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-download.html#libcurl-http-download">libcurl HTTP download</a></li>
<li>curl_easy_perform: <a href="libcurl-drive-easy.html#driving-with-the-easy-interface">Driving with the easy interface</a>, <a href="libcurl-connectionreuse.html#easy-api-pool">Easy API pool</a>, <a href="libcurl-names.html#caching">Caching</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurlex-get.html#get-a-simple-html-page">Get a simple HTML page</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-requests.html#add-a-header">Add a header</a>, <a href="libcurl-http-download.html#libcurl-http-download">libcurl HTTP download</a>, <a href="internals.html#everything-is-multi">Everything is multi</a></li>
<li>curl_easy_reset: <a href="libcurl-easyhandle.html#easy-handle">Easy handle</a></li>
<li>curl_easy_setopt: <a href="sourcecode-layout.html#docs/libcurl/opts">docs/libcurl/opts</a>, <a href="libcurl-easyhandle.html#easy-handle">Easy handle</a>, <a href="callback-write.html#write-callback">Write callback</a>, <a href="callback-read.html#read-callback">Read callback</a>, <a href="callback-progress.html#progress-callback">Progress callback</a>, <a href="callback-header.html#header-callback">Header callback</a>, <a href="callback-debug.html#debug-callback">Debug callback</a>, <a href="callback-sockopt.html#sockopt-callback">sockopt callback</a>, <a href="callback-openclosesocket.html#provide-a-file-descriptor">Provide a file descriptor</a>, <a href="libcurl-names.html#name-resolving">Name resolving</a>, <a href="libcurl-sharing.html#sharing-between-easy-handles">Sharing between easy handles</a>, <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a>, <a href="libcurl-options.html#set-handle-options">Set handle options</a>, <a href="libcurl-tlsoptions.html#libcurl-tls-options">libcurl TLS options</a>, <a href="libcurl-curlcode.html#curlcode-return-code">CURLcode return code</a>, <a href="libcurl-verbose.html#verbose-operations">Verbose operations</a>, <a href="libcurlex-get.html#get-a-simple-html-page">Get a simple HTML page</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-requests.html#request-method">Request method</a>, <a href="libcurl-http-ranges.html#http-ranges">HTTP ranges</a>, <a href="libcurl-http-auth.html#user-name-and-password">User name and password</a>, <a href="libcurl-http-cookies.html#enable-cookie-engine-with-reading">Enable cookie engine with reading</a>, <a href="libcurl-http-download.html#libcurl-http-download">libcurl HTTP download</a>, <a href="libcurl-http-upload.html#http-post">HTTP POST</a></li>
<li>curl_global_cleanup: <a href="libcurl-globalinit.html#global-initialization">Global initialization</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a></li>
<li>curl_global_init: <a href="libcurl-globalinit.html#global-initialization">Global initialization</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a></li>
<li>CURL_IPRESOLVE_V6: <a href="libcurl-names.html#name-resolving">Name resolving</a></li>
<li>CURL_MAX_WRITE_SIZE: <a href="callback-write.html#write-callback">Write callback</a></li>
<li>curl_multi_add_handle: <a href="libcurl-drive-multi.html#driving-with-the-multi-interface">Driving with the multi interface</a>, <a href="libcurl-drive-multi-socket.html#many-easy-handles">Many easy handles</a></li>
<li>curl_multi_cleanup: <a href="libcurl-cleanup.html#multi-api">Multi API</a></li>
<li>curl_multi_fdset: <a href="libcurl-drive-multi.html#driving-with-the-multi-interface">Driving with the multi interface</a></li>
<li>curl_multi_info_read: <a href="libcurl-drive-multi.html#when-is-a-single-transfer-done?">When is a single transfer done?</a>, <a href="libcurl-drive-multi-socket.html#when-is-it-done?">When is it done?</a>, <a href="libcurl-cleanup.html#multi-api">Multi API</a></li>
<li>curl_multi_init: <a href="libcurl-drive-multi.html#driving-with-the-multi-interface">Driving with the multi interface</a></li>
<li>curl_multi_remove_handle: <a href="libcurl-drive-multi.html#driving-with-the-multi-interface">Driving with the multi interface</a>, <a href="libcurl-drive-multi-socket.html#many-easy-handles">Many easy handles</a>, <a href="libcurl-cleanup.html#multi-api">Multi API</a></li>
<li>curl_multi_setopt: <a href="sourcecode-layout.html#docs/libcurl/opts">docs/libcurl/opts</a>, <a href="libcurl-drive-multi.html#driving-with-the-multi-interface">Driving with the multi interface</a>, <a href="libcurl-drive-multi-socket.html#socket_callback">socket_callback</a></li>
<li>curl_multi_socket_action: <a href="libcurl-drive-multi-socket.html#socket_callback">socket_callback</a></li>
<li>curl_multi_timeout: <a href="libcurl-drive-multi.html#driving-with-the-multi-interface">Driving with the multi interface</a></li>
<li>curl_multi_wait: <a href="libcurl-drive-multi.html#driving-with-the-multi-interface">Driving with the multi interface</a></li>
<li>curl_off_t: <a href="callback-progress.html#progress-callback">Progress callback</a>, <a href="libcurl-options.html#setting-numerical-options">Setting numerical options</a>, <a href="libcurl-http-upload.html#http-put">HTTP PUT</a></li>
<li>CURL_SOCKET_TIMEOUT: <a href="libcurl-drive-multi-socket.html#timer_callback">timer_callback</a></li>
<li>curl_url: <a href="libcurl-url.html#create,-cleanup,-duplicate">Create, cleanup, duplicate</a></li>
<li>curl_url_cleanup: <a href="libcurl-url.html#create,-cleanup,-duplicate">Create, cleanup, duplicate</a></li>
<li>curl_url_dup: <a href="libcurl-url.html#create,-cleanup,-duplicate">Create, cleanup, duplicate</a></li>
<li>curl_url_get: <a href="libcurl-url.html#get-a-url">Get a URL</a></li>
<li>curl_url_set: <a href="libcurl-url.html#parse-a-url">Parse a URL</a></li>
<li>curl_version_info: <a href="libcurl-api.html#which-libcurl-version-runs">Which libcurl version runs</a> ## D</li>
<li>-d: <a href="cmdline-options.html#arguments-to-options">Arguments to options</a>, <a href="cmdline-urls.html#separate-options-per-url">Separate options per URL</a>, <a href="usingcurl-uploads.html#post">POST</a>, <a href="http.html#http-methods">HTTP methods</a>, <a href="http-post.html#http-post">HTTP POST</a>, <a href="http-postvspost.html#d-vs--f">-d vs -F</a>, <a href="http-put.html#put">PUT</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a>, <a href="http-browserlike.html#web-logins-and-sessions">Web logins and sessions</a></li>
<li>–data: <a href="cmdline-options.html#arguments-to-options">Arguments to options</a>, <a href="cmdline-urls.html#separate-options-per-url">Separate options per URL</a>, <a href="usingcurl-uploads.html#post">POST</a>, <a href="http-post.html#http-post">HTTP POST</a></li>
<li>–data-binary: <a href="usingcurl-copyas.html#not-perfect">Not perfect</a>, <a href="http-post.html#posting-binary">POSTing binary</a></li>
<li>–data-urlencode: <a href="http-post.html#url-encoding">URL encoding</a></li>
<li>debian: <a href="get-curl-linux.html#ubuntu-and-debian">Ubuntu and Debian</a>, <a href="sourcecode-layout.html#lib/vtls">lib/vtls</a></li>
<li>Debug callback: <a href="callback-debug.html#debug-callback">Debug callback</a>, <a href="libcurl-verbose.html#verbose-operations">Verbose operations</a></li>
<li>development: <a href="curl-comm.html#project-communication">Project communication</a>, <a href="curl-maillists.html#curl-users">curl-users</a>, <a href="curl-bugs.html#reporting-bugs">Reporting bugs</a>, <a href="curl-devteam.html#the-development-team">The development team</a>, <a href="curl-future.html#future">Future</a>, <a href="get-curl-linux.html#ubuntu-and-debian">Ubuntu and Debian</a>, <a href="opensource-devel.html#development">Development</a>, <a href="sourcecode-contributing.html#who-decides-what-goes-in?">Who decides what goes in?</a>, <a href="usingcurl-copyas.html#from-safari">From Safari</a>, <a href="http-post.html#figure-out-what-a-browser-sends">Figure out what a browser sends</a>, <a href="libcurl-api.html#which-libcurl-version-runs">Which libcurl version runs</a>, <a href="libcurl-tlsoptions.html#verification">Verification</a> ## E</li>
<li>environment variables: <a href="cmdline-configfile.html#default-config-file">Default config file</a>, <a href="usingcurl-proxies.html#proxy-environment-variables">Proxy environment variables</a>, <a href="libcurl-proxies.html#proxy-environment-variables">Proxy environment variables</a></li>
<li>etiquette: <a href="curl-etiquette.html#mailing-list-etiquette">Mailing list etiquette</a></li>
<li>event-driven: <a href="libcurl-drive-multi-socket.html#driving-with-the-%22multi_socket%22-interface">Driving with the “multi_socket” interface</a>, <a href="internals.html#everything-is-multi">Everything is multi</a> ## F</li>
<li>-F: <a href="usingcurl-uploads.html#multipart-formpost">multipart formpost</a>, <a href="usingcurl-copyas.html#not-perfect">Not perfect</a>, <a href="http.html#http-methods">HTTP methods</a>, <a href="http-multipart.html#sending-such-a-form-with-curl">Sending such a form with curl</a>, <a href="http-postvspost.html#d-vs--f">-d vs -F</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a></li>
<li>Firefox: <a href="sourcecode-layout.html#lib/vtls">lib/vtls</a>, <a href="usingcurl-proxies.html#discover-your-proxy">Discover your proxy</a>, <a href="tls-sslkeylogfile.html#sslkeylogfile">SSLKEYLOGFILE</a>, <a href="usingcurl-copyas.html#copy-as-curl">Copy as curl</a>, <a href="http-requests.html#user-agent">User-agent</a></li>
<li>Fragment: <a href="cmdline-urls.html#fragment">Fragment</a>, <a href="http-requests.html#anchors-or-fragments">Anchors or fragments</a></li>
<li>–ftp-method: <a href="ftp-traversedir.html#multicwd">multicwd</a></li>
<li>–ftp-pasv: <a href="ftp-twoconnections.html#passive-connections">Passive connections</a></li>
<li>–ftp-port: <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="ftp-twoconnections.html#active-connections">Active connections</a></li>
<li>–ftp-skip-pasv-ip: <a href="ftp-twoconnections.html#passive-connections">Passive connections</a></li>
<li>future: <a href="curl-comm.html#project-communication">Project communication</a>, <a href="curl-future.html#future">Future</a>, <a href="sourcecode-layout.html#docs">docs</a>, <a href="sourcecode-reportvuln.html#curl-security@haxx.se">curl-security@haxx.se</a>, <a href="protocols-protocols.html#what-other-protocols-are-there?">What other protocols are there?</a>, <a href="usingcurl-returns.html#%22not-used%22">“Not used”</a>, <a href="http-cookies.html#cookies">Cookies</a>, <a href="http-http2.html#multiplexing">Multiplexing</a>, <a href="http-http3.html#when-quic-is-denied">When QUIC is denied</a>, <a href="libcurl-api.html#api-compatibility">API compatibility</a> ## G</li>
<li>–get: <a href="http-post.html#convert-that-to-a-get">Convert that to a GET</a></li>
<li>git: <a href="curl-releases.html#daily-snapshots">Daily snapshots</a>, <a href="sourcecode.html#clone-the-code">Clone the code</a>, <a href="sourcecode-layout.html#root">root</a>, <a href="sourcecode-contributing.html#git">git</a>, <a href="sourcecode-web.html#web-site-source-code">Web site source code</a>, <a href="building-source.html#git-vs-tarballs">git vs tarballs</a>, <a href="building-boringssl.html#build-boringssl">build boringssl</a></li>
<li>Globbing: <a href="cmdline-globbing.html#url-globbing">URL globbing</a></li>
<li>GnuTLS: <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a>, <a href="usingcurl-tls.html#ocsp-stapling">OCSP stapling</a>, <a href="libcurl-proxies.html#proxy-types">Proxy types</a></li>
<li>Gopher: <a href="curl-started.html#how-it-started">How it started</a>, <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#gopher">GOPHER</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a> ## H</li>
<li>–header: <a href="usingcurl-downloads.html#server-differences">Server differences</a>, <a href="usingcurl-proxies.html#proxy-headers">Proxy headers</a>, <a href="http-requests.html#customize-headers">Customize headers</a></li>
<li>Header callback: <a href="callback-header.html#header-callback">Header callback</a>, <a href="libcurl-http-responses.html#http-responses">HTTP responses</a></li>
<li>Host:: <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="usingcurl-trace.html#trace-and---trace-ascii">–trace and –trace-ascii</a>, <a href="usingcurl-connections.html#change-the-host:-header">Change the Host: header</a>, <a href="http-basics.html#http-protocol-basics">HTTP protocol basics</a>, <a href="http-multipart.html#the-http-this-generates">The HTTP this generates</a>, <a href="http-requests.html#customize-headers">Customize headers</a>, <a href="libcurl-http-requests.html#customize-http-request-headers">Customize HTTP request headers</a></li>
<li>HTTP ranges: <a href="http-ranges.html#http-ranges">HTTP ranges</a>, <a href="libcurl-http-ranges.html#http-ranges">HTTP ranges</a></li>
<li>HTTP redirects: <a href="cmdline-options.html#short-options">Short options</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="http-redirects.html#http-redirects">HTTP redirects</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a></li>
<li>HTTP/1.1: <a href="protocols-curl.html#http">HTTP</a>, <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="usingcurl-trace.html#trace-and---trace-ascii">–trace and –trace-ascii</a>, <a href="http-basics.html#http-protocol-basics">HTTP protocol basics</a>, <a href="http-versions.html#http-versions">HTTP versions</a>, <a href="http-multipart.html#the-http-this-generates">The HTTP this generates</a>, <a href="http-redirects.html#get-or-post?">GET or POST?</a>, <a href="http-requests.html#request-method">Request method</a>, <a href="http-http2.html#http/2">HTTP/2</a>, <a href="libcurl-http-requests.html#customize-http-request-headers">Customize HTTP request headers</a>, <a href="libcurl-http-versions.html#http-versions">HTTP versions</a></li>
<li>HTTP/2: <a href="sourcecode-layout.html#docs">docs</a>, <a href="building-deps.html#nghttp2">nghttp2</a>, <a href="usingcurl-verbose.html#http/2">HTTP/2</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="http-versions.html#http-versions">HTTP versions</a>, <a href="http-redirects.html#get-or-post?">GET or POST?</a>, <a href="http-http2.html#http/2">HTTP/2</a>, <a href="http-altsvc.html#http/3">HTTP/3</a>, <a href="libcurl-names.html#dns-over-https">DNS over HTTPS</a>, <a href="libcurl-http-versions.html#http-versions">HTTP versions</a></li>
<li>HTTP/3: <a href="http-altsvc.html#http/3">HTTP/3</a>, <a href="http-http3.html#http/3">HTTP/3</a>, <a href="libcurl-http-versions.html#http-versions">HTTP versions</a></li>
<li>–http1.1: <a href="http-versions.html#http-versions">HTTP versions</a></li>
<li>–http2: <a href="http-versions.html#http-versions">HTTP versions</a>, <a href="http-http2.html#http/2">HTTP/2</a></li>
<li>–http2-prior-knowledge: <a href="http-versions.html#http-versions">HTTP versions</a>, <a href="http-http2.html#http/2">HTTP/2</a></li>
<li>–http3: <a href="http-versions.html#http-versions">HTTP versions</a>, <a href="http-http3.html#enable">Enable</a></li>
<li>HttpGet: <a href="curl-started.html#how-it-started">How it started</a> ## I</li>
<li>IDN: <a href="building-deps.html#libidn2">libidn2</a></li>
<li>Indentation: <a href="sourcecode-style.html#indentation">Indentation</a></li>
<li>IPv4: <a href="cmdline-urls.html#host-name-or-address">Host name or address</a>, <a href="usingcurl-writeout.html#available---write-out-variables">Available –write-out variables</a>, <a href="libcurl-names.html#name-resolving">Name resolving</a></li>
<li>IPv6: <a href="cmdline-urls.html#host-name-or-address">Host name or address</a>, <a href="cmdline-globbing.html#url-globbing">URL globbing</a>, <a href="usingcurl-writeout.html#available---write-out-variables">Available –write-out variables</a>, <a href="libcurl-names.html#name-resolving">Name resolving</a> ## J</li>
<li>JavaScript: <a href="usingcurl-downloads.html#client-differences">Client differences</a>, <a href="usingcurl-proxies.html#pac">PAC</a>, <a href="http-post.html#javascript-and-forms">JavaScript and forms</a>, <a href="http-redirects.html#javascript-redirects">JavaScript redirects</a>, <a href="http-browserlike.html#figure-out-what-the-browser-does">Figure out what the browser does</a></li>
<li>json: <a href="cmdline-options.html#arguments-with-spaces">Arguments with spaces</a>, <a href="http-post.html#content-type">Content-Type</a>, <a href="http-postvspost.html#post-outside-of-html">POST outside of HTML</a> ## K</li>
<li>-K: <a href="cmdline.html#command-lines,-quotes-and-aliases">Command lines, quotes and aliases</a>, <a href="cmdline-configfile.html#config-file">Config file</a></li>
<li>keep-alive: <a href="usingcurl-timeouts.html#keep-connections-alive">Keep connections alive</a></li>
<li>–keepalive-time: <a href="usingcurl-connections.html#keep-alive">Keep alive</a>, <a href="usingcurl-timeouts.html#keep-connections-alive">Keep connections alive</a> ## L</li>
<li>-L: <a href="cmdline-options.html#short-options">Short options</a>, <a href="usingcurl-writeout.html#available---write-out-variables">Available –write-out variables</a>, <a href="http-redirects.html#tell-curl-to-follow-redirects">Tell curl to follow redirects</a>, <a href="http-requests.html#request-method">Request method</a>, <a href="http-cookies.html#cookie-engine">Cookie engine</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a>, <a href="http-browserlike.html#redirects">Redirects</a></li>
<li>–libcurl: <a href="libcurl--libcurl.html#curl---libcurl">curl –libcurl</a></li>
<li>libcurl version: <a href="building.html#the-latest-version?">The latest version?</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="libcurl-api.html#which-libcurl-version">Which libcurl version</a></li>
<li>libidn2: <a href="building-deps.html#libidn2">libidn2</a></li>
<li>libmetalink: <a href="building-deps.html#libmetalink">libmetalink</a></li>
<li>libpsl: <a href="building-deps.html#libpsl">libpsl</a></li>
<li>libressl: <a href="building-source.html#select-tls-backend">Select TLS backend</a>, <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a></li>
<li>librtmp: <a href="building-deps.html#librtmp">librtmp</a></li>
<li>libssh2: <a href="building-deps.html#libssh2">libssh2</a></li>
<li>license: <a href="curl-users.html#finding-users">Finding users</a>, <a href="opensource-license.html#license">License</a>, <a href="sourcecode-layout.html#root">root</a></li>
<li>–limit-rate: <a href="usingcurl-downloads.html#rate-limiting">Rate limiting</a></li>
<li>–location: <a href="cmdline-options.html#long-options">Long options</a>, <a href="cmdline-urls.html#separate-options-per-url">Separate options per URL</a>, <a href="cmdline-configfile.html#config-file">Config file</a>, <a href="http-redirects.html#tell-curl-to-follow-redirects">Tell curl to follow redirects</a> ## M</li>
<li>–max-filesize: <a href="usingcurl-downloads.html#maximum-filesize">Maximum filesize</a></li>
<li>–max-time: <a href="usingcurl-downloads.html#retrying-failed-attempts">Retrying failed attempts</a>, <a href="usingcurl-timeouts.html#maximum-time-allowed-to-spend">Maximum time allowed to spend</a></li>
<li>MesaLink: <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a></li>
<li>Metalink: <a href="usingcurl-downloads.html#metalink">Metalink</a></li>
<li>–metalink: <a href="usingcurl-downloads.html#metalink">Metalink</a></li>
<li>MIT: <a href="opensource-license.html#license">License</a></li>
<li>MITM-proxies: <a href="usingcurl-proxies.html#mitm-proxies">MITM-proxies</a></li>
<li>multi-threading: <a href="libcurl-threading.html#libcurl-multi-threading">libcurl multi-threading</a> ## N</li>
<li>name resolving: <a href="sourcecode-options.html#handling-different-build-options">Handling different build options</a>, <a href="protocols-network.html#host-name-resolving">Host name resolving</a>, <a href="usingcurl-writeout.html#available---write-out-variables">Available –write-out variables</a>, <a href="usingcurl-connections.html#name-resolve-tricks-with-c-ares">Name resolve tricks with c-ares</a>, <a href="usingcurl-proxies.html#socks-types">SOCKS types</a>, <a href="libcurl-connectionreuse.html#connection-reuse">Connection reuse</a>, <a href="libcurl-names.html#name-resolving">Name resolving</a>, <a href="libcurl-proxies.html#proxy-types">Proxy types</a>, <a href="libcurl-getinfo.html#available-information">Available information</a>, <a href="internals.html#name-resolving">Name resolving</a></li>
<li>–negotiate: <a href="cmdline-passwords.html#network-leakage">Network leakage</a>, <a href="http-auth.html#http-authentication">HTTP authentication</a></li>
<li>–netrc-file: <a href="usingcurl-netrc.html#enable-netrc">Enable netrc</a></li>
<li>–netrc-optional: <a href="usingcurl-netrc.html#enable-netrc">Enable netrc</a></li>
<li>nghttp2: <a href="building-deps.html#nghttp2">nghttp2</a></li>
<li>nix: <a href="get-curl-linux.html#nix">nix</a></li>
<li>–no-eprt: <a href="ftp-twoconnections.html#active-connections">Active connections</a></li>
<li>–no-epsv: <a href="ftp-twoconnections.html#passive-connections">Passive connections</a></li>
<li>NSS: <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a>, <a href="usingcurl-tls.html#ocsp-stapling">OCSP stapling</a>, <a href="libcurl-proxies.html#proxy-types">Proxy types</a></li>
<li>–ntlm: <a href="cmdline-passwords.html#network-leakage">Network leakage</a>, <a href="http-auth.html#http-authentication">HTTP authentication</a> ## O</li>
<li>-O: <a href="cmdline-urls.html#many-options-and-urls">Many options and URLs</a>, <a href="cmdline-globbing.html#numerical-ranges">Numerical ranges</a>, <a href="usingcurl-downloads.html#download-to-a-file-named-by-the-url">Download to a file named by the URL</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a></li>
<li>openldap: <a href="building-deps.html#openldap">openldap</a></li>
<li>OpenSSL: <a href="sourcecode-layout.html#lib/vtls">lib/vtls</a>, <a href="building-source.html#select-tls-backend">Select TLS backend</a>, <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a>, <a href="usingcurl-tls.html#ocsp-stapling">OCSP stapling</a>, <a href="libcurl-proxies.html#proxy-types">Proxy types</a>, <a href="libcurl-getinfo.html#available-information">Available information</a> ## P</li>
<li>PAC: <a href="usingcurl-proxies.html#pac">PAC</a>, <a href="libcurl-proxies.html#which-proxy?">Which proxy?</a></li>
<li>–parallel: <a href="cmdline-urls.html#do-the-transfers-in-parallel">Do the transfers in parallel</a></li>
<li>–parallel-max: <a href="cmdline-urls.html#do-the-transfers-in-parallel">Do the transfers in parallel</a></li>
<li>Percent-encoding: <a href="http-post.html#url-encoding">URL encoding</a></li>
<li>pop3: <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#pop3">POP3</a>, <a href="cmdline-urls.html#without-scheme">Without scheme</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a>, <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-reademail.html#reading-email">Reading email</a>, <a href="usingcurl-smtp.html#secure-mail-transfer">Secure mail transfer</a>, <a href="usingcurl-tls.html#enable-tls">Enable TLS</a>, <a href="libcurl-tlsoptions.html#starttls">STARTTLS</a></li>
<li>port number: <a href="protocols-network.html#connects-to-%22port-numbers%22">Connects to “port numbers”</a>, <a href="cmdline-urls.html#port-number">Port number</a>, <a href="usingcurl-writeout.html#available---write-out-variables">Available –write-out variables</a>, <a href="usingcurl-connections.html#provide-a-replacement-name">Provide a replacement name</a>, <a href="usingcurl-proxies.html#http">HTTP</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="http-basics.html#the-url-converted-to-a-request">The URL converted to a request</a>, <a href="http-http3.html#enable">Enable</a>, <a href="libcurl-connectionreuse.html#connection-reuse">Connection reuse</a>, <a href="libcurl-names.html#custom-addresses-for-hosts">Custom addresses for hosts</a>, <a href="libcurl-proxies.html#proxies">Proxies</a>, <a href="libcurl-getinfo.html#post-transfer-info">Post transfer info</a></li>
<li>–post301: <a href="http-redirects.html#decide-what-method-to-use-in-redirects">Decide what method to use in redirects</a></li>
<li>–post302: <a href="http-redirects.html#decide-what-method-to-use-in-redirects">Decide what method to use in redirects</a></li>
<li>–post303: <a href="http-redirects.html#decide-what-method-to-use-in-redirects">Decide what method to use in redirects</a></li>
<li>Progress callback: <a href="libcurl-drive-multi-socket.html#timer_callback">timer_callback</a>, <a href="callback-progress.html#progress-callback">Progress callback</a></li>
<li>pronunciation: <a href="curl-name.html#pronunciation">Pronunciation</a></li>
<li>–proxy: <a href="usingcurl-proxies.html#http">HTTP</a>, <a href="http-auth.html#http-authentication">HTTP authentication</a></li>
<li>proxy: <a href="curl-started.html#how-it-started">How it started</a>, <a href="usingcurl-writeout.html#available---write-out-variables">Available –write-out variables</a>, <a href="usingcurl-downloads.html#intermediaries&#39;-fiddlings">Intermediaries’ fiddlings</a>, <a href="usingcurl-proxies.html#proxies">Proxies</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="http-response.html#connect-response-codes">CONNECT response codes</a>, <a href="http-auth.html#http-authentication">HTTP authentication</a>, <a href="libcurl-proxies.html#proxies">Proxies</a>, <a href="libcurl-getinfo.html#available-information">Available information</a>, <a href="libcurl-tlsoptions.html#verification">Verification</a>, <a href="libcurl-http.html#http-proxy">HTTP proxy</a></li>
<li>–proxy-user: <a href="usingcurl-proxies.html#proxy-authentication">Proxy authentication</a>, <a href="http-auth.html#http-authentication">HTTP authentication</a></li>
<li>–proxy1.0: <a href="usingcurl-proxies.html#http-proxy-tunneling">HTTP proxy tunneling</a></li>
<li>–proxytunnel: <a href="usingcurl-proxies.html#http-proxy-tunneling">HTTP proxy tunneling</a> ## R</li>
<li>ranges: <a href="cmdline-globbing.html#numerical-ranges">Numerical ranges</a>, <a href="usingcurl-downloads.html#resuming-and-ranges">Resuming and ranges</a>, <a href="http-ranges.html#http-ranges">HTTP ranges</a>, <a href="callback-openclosesocket.html#provide-a-file-descriptor">Provide a file descriptor</a>, <a href="libcurl-http-responses.html#http-response-code">HTTP response code</a>, <a href="libcurl-http-ranges.html#http-ranges">HTTP ranges</a></li>
<li>Read callback: <a href="callback-read.html#read-callback">Read callback</a>, <a href="libcurl-http-upload.html#http-post">HTTP POST</a></li>
<li>redhat: <a href="get-curl-linux.html#redhat-and-centos">Redhat and Centos</a>, <a href="sourcecode-layout.html#lib/vtls">lib/vtls</a></li>
<li>redirects: <a href="cmdline-options.html#long-options">Long options</a>, <a href="cmdline-urls.html#separate-options-per-url">Separate options per URL</a>, <a href="cmdline-configfile.html#config-file">Config file</a>, <a href="usingcurl-writeout.html#available---write-out-variables">Available –write-out variables</a>, <a href="usingcurl-downloads.html#download-to-a-file-named-by-the-url">Download to a file named by the URL</a>, <a href="usingcurl-connections.html#provide-a-custom-ip-address-for-a-name">Provide a custom IP address for a name</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="http-redirects.html#http-redirects">HTTP redirects</a>, <a href="http-requests.html#request-method">Request method</a>, <a href="http-browserlike.html#redirects">Redirects</a>, <a href="libcurl-names.html#custom-addresses-for-hosts">Custom addresses for hosts</a>, <a href="libcurl-getinfo.html#available-information">Available information</a>, <a href="libcurlex-login.html#submit-a-login-form-over-http">Submit a login form over HTTP</a>, <a href="libcurl-http-requests.html#automatic-referrer">Automatic referrer</a></li>
<li>RELEASE-NOTES: <a href="sourcecode-layout.html#scripts">scripts</a></li>
<li>releases: <a href="how.html#1.-%5Bthe-curl-project%5D(curl.html)">1. [The cURL project](curl.html)</a>, <a href="curl-maillists.html#curl-announce">curl-announce</a>, <a href="curl-releases.html#releases">Releases</a>, <a href="sourcecode-layout.html#scripts">scripts</a>, <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="libcurl-api.html#which-libcurl-version">Which libcurl version</a></li>
<li>–remote-name-all: <a href="usingcurl-downloads.html#use-the-url&#39;s-file-name-part-for-all-urls">Use the URL’s file name part for all URLs</a></li>
<li>repository: <a href="curl-releases.html#releases">Releases</a>, <a href="get-curl-linux.html#arch-linux">Arch Linux</a>, <a href="opensource-devel.html#source-code-on-github">Source code on Github</a>, <a href="sourcecode.html#hosting-and-download">Hosting and download</a>, <a href="sourcecode-layout.html#root">root</a>, <a href="sourcecode-contributing.html#what-to-add">What to add</a>, <a href="sourcecode-web.html#web-site-source-code">Web site source code</a>, <a href="building-source.html#git-vs-tarballs">git vs tarballs</a></li>
<li>–resolve: <a href="usingcurl-connections.html#provide-a-custom-ip-address-for-a-name">Provide a custom IP address for a name</a></li>
<li>RFC 1436: <a href="protocols-curl.html#gopher">GOPHER</a></li>
<li>RFC 1738: <a href="protocols-curl.html#file">FILE</a>, <a href="ftp-traversedir.html#multicwd">multicwd</a></li>
<li>RFC 1939: <a href="protocols-curl.html#pop3">POP3</a></li>
<li>RFC 1945: <a href="http-redirects.html#http-redirects">HTTP redirects</a></li>
<li>RFC 2229: <a href="protocols-curl.html#dict">DICT</a></li>
<li>RFC 2246: <a href="usingcurl-tls.html#ssl-and-tls-versions">SSL and TLS versions</a></li>
<li>RFC 2326: <a href="protocols-curl.html#rtsp">RTSP</a></li>
<li>RFC 2595: <a href="protocols-curl.html#imap">IMAP</a></li>
<li>RFC 2818: <a href="protocols-curl.html#https">HTTPS</a></li>
<li>RFC 3207: <a href="protocols-curl.html#smtp">SMTP</a></li>
<li>RFC 3501: <a href="protocols-curl.html#imap">IMAP</a></li>
<li>RFC 3986: <a href="cmdline-urls.html#urls">URLs</a></li>
<li>RFC 4217: <a href="protocols-curl.html#ftps">FTPS</a></li>
<li>RFC 4511: <a href="protocols-curl.html#ldap">LDAP</a></li>
<li>RFC 5321: <a href="protocols-curl.html#smtp">SMTP</a></li>
<li>RFC 7230: <a href="protocols-curl.html#http">HTTP</a></li>
<li>RFC 7540: <a href="protocols-curl.html#http">HTTP</a></li>
<li>RFC 7838: <a href="http-altsvc.html#alternatives">Alternatives</a></li>
<li>RFC 8314: <a href="protocols-curl.html#imaps">IMAPS</a></li>
<li>RFC 8446: <a href="usingcurl-tls.html#ssl-and-tls-versions">SSL and TLS versions</a></li>
<li>RFC 854: <a href="protocols-curl.html#telnet">TELNET</a></li>
<li>RFC 959: <a href="protocols-curl.html#ftp">FTP</a>, <a href="usingcurl-ftp.html#ftp">FTP</a></li>
<li>RTMP: <a href="building-deps.html#librtmp">librtmp</a>, <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#rtmp">RTMP</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a></li>
<li>RTSP: <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#rtsp">RTSP</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a>, <a href="callback-rtsp.html#rtsp-interleave-callback">RTSP interleave callback</a>, <a href="libcurl-getinfo.html#available-information">Available information</a> ## S</li>
<li>Safari: <a href="usingcurl-copyas.html#copy-as-curl">Copy as curl</a></li>
<li>Schannel: <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a>, <a href="usingcurl-tls.html#ca-store-on-windows">CA store on windows</a></li>
<li>Scheme: <a href="building-deps.html#librtmp">librtmp</a>, <a href="protocols-network.html#connects-to-%22port-numbers%22">Connects to “port numbers”</a>, <a href="protocols-curl.html#file">FILE</a>, <a href="cmdline-urls.html#scheme">Scheme</a>, <a href="usingcurl-proxies.html#proxy-type">Proxy type</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="libcurl-proxies.html#proxy-types">Proxy types</a>, <a href="libcurl-getinfo.html#available-information">Available information</a>, <a href="libcurl-api.html#which-libcurl-version">Which libcurl version</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurl-http.html#https">HTTPS</a>, <a href="libcurl-http-auth.html#http-authentication">HTTP authentication</a>, <a href="bindings.html#bindings">Bindings</a>, <a href="internals.html#different-protocols-%22hooked-in%22">Different protocols “hooked in”</a></li>
<li>SCP: <a href="building-deps.html#libssh2">libssh2</a>, <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#scp">SCP</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a>, <a href="usingcurl-uploads.html#protocols-allowing-upload">Protocols allowing upload</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-scpsftp.html#scp-and-sftp">SCP and SFTP</a></li>
<li>security: <a href="curl-maillists.html#curl-announce">curl-announce</a>, <a href="curl-security.html#security">Security</a>, <a href="curl-trust.html#trust">Trust</a>, <a href="sourcecode-layout.html#docs">docs</a>, <a href="sourcecode-reportvuln.html#reporting-vulnerabilities">Reporting vulnerabilities</a>, <a href="protocols-network.html#tls">TLS</a>, <a href="protocols-protocols.html#how-much-do-protocols-change?">How much do protocols change?</a>, <a href="protocols-curl.html#ftps">FTPS</a>, <a href="usingcurl-proxies.html#http_proxy-in-lower-case-only">http_proxy in lower case only</a>, <a href="usingcurl-tls.html#tls">TLS</a>, <a href="http.html#how-to-http-with-curl">How to HTTP with curl</a>, <a href="libcurl-url.html#url-api">URL API</a>, <a href="libcurl-tlsoptions.html#protocol-version">Protocol version</a>, <a href="libcurl-http.html#https">HTTPS</a></li>
<li>SFTP: <a href="building-deps.html#libssh2">libssh2</a>, <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#sftp">SFTP</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a>, <a href="usingcurl-trace.html#trace-and---trace-ascii">–trace and –trace-ascii</a>, <a href="usingcurl-uploads.html#protocols-allowing-upload">Protocols allowing upload</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-scpsftp.html#scp-and-sftp">SCP and SFTP</a></li>
<li>–show-error: <a href="usingcurl-verbose.html#silence">Silence</a></li>
<li>–silent: <a href="cmdline-progressmeter.html#the-progress-meter">The progress meter</a>, <a href="usingcurl-verbose.html#silence">Silence</a>, <a href="usingcurl-returns.html#error-message">Error message</a></li>
<li>SMTP: <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#smtp">SMTP</a>, <a href="cmdline-urls.html#without-scheme">Without scheme</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a>, <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="usingcurl-uploads.html#protocols-allowing-upload">Protocols allowing upload</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-smtp.html#smtp">SMTP</a>, <a href="usingcurl-tls.html#enable-tls">Enable TLS</a>, <a href="libcurl-tlsoptions.html#starttls">STARTTLS</a></li>
<li>SMTPS: <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a>, <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#smtps">SMTPS</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a>, <a href="usingcurl-uploads.html#protocols-allowing-upload">Protocols allowing upload</a>, <a href="usingcurl-tls.html#enable-tls">Enable TLS</a></li>
<li>snapshots: <a href="curl-releases.html#daily-snapshots">Daily snapshots</a>, <a href="sourcecode-layout.html#root">root</a></li>
<li>SNI: <a href="usingcurl-connections.html#change-the-host:-header">Change the Host: header</a></li>
<li>–socks4: <a href="usingcurl-proxies.html#socks-types">SOCKS types</a></li>
<li>–socks4a: <a href="usingcurl-proxies.html#socks-types">SOCKS types</a></li>
<li>–socks5: <a href="usingcurl-proxies.html#socks-types">SOCKS types</a></li>
<li>–socks5-hostname: <a href="usingcurl-proxies.html#socks-types">SOCKS types</a></li>
<li>–speed-limit: <a href="usingcurl-timeouts.html#transfer-speeds-slower-than-this-means-exit">Transfer speeds slower than this means exit</a></li>
<li>–speed-time: <a href="usingcurl-timeouts.html#transfer-speeds-slower-than-this-means-exit">Transfer speeds slower than this means exit</a></li>
<li>SSH: <a href="protocols-curl.html#scp">SCP</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-scpsftp.html#scp-and-sftp">SCP and SFTP</a>, <a href="callback-sshkey.html#ssh-key-callback">SSH key callback</a>, <a href="libcurl-verbose.html#trace-everything">Trace everything</a></li>
<li>SSL context callback: <a href="callback-sslcontext.html#ssl-context-callback">SSL context callback</a></li>
<li>SSLKEYLOGFILE: <a href="tls-sslkeylogfile.html#sslkeylogfile">SSLKEYLOGFILE</a></li>
<li>STARTTLS: <a href="protocols-curl.html#imap">IMAP</a>, <a href="libcurl-tlsoptions.html#starttls">STARTTLS</a> ## T</li>
<li>-T: <a href="usingcurl-uploads.html#put">PUT</a>, <a href="ftp-advanced.html#uploading-with-ftp">Uploading with FTP</a>, <a href="http.html#http-methods">HTTP methods</a>, <a href="http-put.html#put">PUT</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a></li>
<li>TELNET: <a href="protocols-protocols.html#what-protocols-does-curl-support?">What protocols does curl support?</a>, <a href="protocols-curl.html#telnet">TELNET</a>, <a href="usingcurl.html#supported-protocols">Supported protocols</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-telnet.html#telnet">TELNET</a></li>
<li>testing: <a href="curl-does.html#what-does-curl-do?">What does curl do?</a>, <a href="curl-bugs.html#reporting-bugs">Reporting bugs</a>, <a href="sourcecode-options.html#handling-different-build-options">Handling different build options</a>, <a href="sourcecode-contributing.html#contributing">Contributing</a>, <a href="libcurl-http-responses.html#about-http-response-code-%22errors%22">About HTTP response code “errors”</a></li>
<li>TLS: <a href="get-curl-linux.html#ubuntu-and-debian">Ubuntu and Debian</a>, <a href="sourcecode-layout.html#lib/vtls">lib/vtls</a>, <a href="sourcecode-options.html#handling-different-build-options">Handling different build options</a>, <a href="building-source.html#select-tls-backend">Select TLS backend</a>, <a href="building-deps.html#tls-libraries">TLS libraries</a>, <a href="building-tls.html#build-to-use-a-tls-library">Build to use a TLS library</a>, <a href="protocols-network.html#tls">TLS</a>, <a href="protocols-protocols.html#how-much-do-protocols-change?">How much do protocols change?</a>, <a href="cmdline-urls.html#connection-reuse">Connection reuse</a>, <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="usingcurl-connections.html#change-the-host:-header">Change the Host: header</a>, <a href="usingcurl-proxies.html#mitm-proxies">MITM-proxies</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="usingcurl-scpsftp.html#scp-and-sftp">SCP and SFTP</a>, <a href="usingcurl-tls.html#tls">TLS</a>, <a href="tls-sslkeylogfile.html#sslkeylogfile">SSLKEYLOGFILE</a>, <a href="http.html#how-to-http-with-curl">How to HTTP with curl</a>, <a href="http-basics.html#the-url-converted-to-a-request">The URL converted to a request</a>, <a href="http-https.html#https">HTTPS</a>, <a href="http-post.html#figure-out-what-a-browser-sends">Figure out what a browser sends</a>, <a href="http-http3.html#https-only">HTTPS only</a>, <a href="libcurl-proxies.html#proxy-types">Proxy types</a>, <a href="libcurl-getinfo.html#available-information">Available information</a>, <a href="libcurl-tlsoptions.html#libcurl-tls-options">libcurl TLS options</a>, <a href="libcurl-verbose.html#trace-everything">Trace everything</a>, <a href="libcurl-http.html#https">HTTPS</a></li>
<li>TODO: <a href="sourcecode-contributing.html#suggestions">Suggestions</a></li>
<li>–tr-encoding: <a href="usingcurl-downloads.html#compression">Compression</a>, <a href="http-response.html#transfer-encoding">Transfer encoding</a></li>
<li>–trace: <a href="usingcurl-trace.html#trace-and---trace-ascii">–trace and –trace-ascii</a></li>
<li>–trace-ascii: <a href="usingcurl-trace.html#trace-and---trace-ascii">–trace and –trace-ascii</a>, <a href="usingcurl-downloads.html#server-differences">Server differences</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a></li>
<li>–trace-time: <a href="usingcurl-trace.html#trace-time">–trace-time</a></li>
<li>transfer-encoding: <a href="http-response.html#pass-on-transfer-encoding">Pass on transfer encoding</a>, <a href="http-post.html#chunked-encoded-posts">Chunked encoded POSTs</a> ## U</li>
<li>-U: <a href="usingcurl-proxies.html#proxy-authentication">Proxy authentication</a></li>
<li>-u: <a href="cmdline-passwords.html#passwords-and-snooping">Passwords and snooping</a>, <a href="usingcurl-ftp.html#authentication">Authentication</a>, <a href="usingcurl-scpsftp.html#urls">URLs</a>, <a href="http-auth.html#http-authentication">HTTP authentication</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a></li>
<li>Ubuntu: <a href="get-curl-linux.html#ubuntu-and-debian">Ubuntu and Debian</a></li>
<li>URL Globbing: <a href="cmdline-globbing.html#url-globbing">URL globbing</a> ## V</li>
<li>–verbose: <a href="cmdline-options.html#long-options">Long options</a>, <a href="usingcurl-verbose.html#verbose-mode">Verbose mode</a>, <a href="usingcurl-trace.html#trace-time">–trace-time</a></li>
<li>Vulnerability: <a href="sourcecode-reportvuln.html#vulnerability-handling">Vulnerability handling</a> ## W</li>
<li>Wireshark: <a href="usingcurl-trace.html#trace-and---trace-ascii">–trace and –trace-ascii</a>, <a href="usingcurl-returns.html#available-exit-codes">Available exit codes</a>, <a href="tls-sslkeylogfile.html#sslkeylogfile">SSLKEYLOGFILE</a>, <a href="http-post.html#figure-out-what-a-browser-sends">Figure out what a browser sends</a></li>
<li>Write callback: <a href="callback-write.html#write-callback">Write callback</a>, <a href="libcurlex-getinmem.html#get-a-html-page-in-memory">Get a HTML page in memory</a>, <a href="libcurl-http-responses.html#http-responses">HTTP responses</a></li>
<li>–write-out: <a href="usingcurl-writeout.html#write-out">–write-out</a>, <a href="http-response.html#http-response-codes">HTTP response codes</a> ## X</li>
<li>-X: <a href="http-requests.html#request-method">Request method</a>, <a href="http-put.html#put">PUT</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a></li>
<li>-x: <a href="usingcurl-proxies.html#http">HTTP</a>, <a href="http-cheatsheet.html#curl-http-cheat-sheet">curl HTTP cheat sheet</a>, <a href="libcurl-proxies.html#proxy-environment-variables">Proxy environment variables</a> ## Y</li>
<li>yum: <a href="get-curl-linux.html#redhat-and-centos">Redhat and Centos</a> ## Z</li>
<li>-Z: <a href="cmdline-urls.html#do-the-transfers-in-parallel">Do the transfers in parallel</a></li>
<li>zlib: <a href="building-deps.html#zlib">zlib</a></li>
</ul>
