<h1 id="building-and-installing">Building and installing</h1>
<p>The source code for this project is written in a way that allows it to get compiled and built on just about any operating system and platform, with as few restraints and requirements as possible.</p>
<p>If you have a 32bit (or larger) CPU architecture, if you have a C89 compliant compiler and if you have roughly a POSIX supporting sockets API, then you can most likely build curl and libcurl for your target system.</p>
<p>For the most popular platforms, the curl project comes with build systems already done and prepared to allow you to easily build it yourself.</p>
<p>There are also friendly people and organizations who put together binary packages of curl and libcurl and make them available for download. The different options will be explored below.</p>
<h2 id="the-latest-version">The latest version?</h2>
<p>Looking at the curl web site at https://curl.haxx.se you can see the latest curl and libcurl version released from the project. That is the latest source code package you can get.</p>
<p>When you opt for a prebuilt and prepackaged version for your operating system or distribution of choice, you may not always find the latest version but you might have to either be satisfied with the latest version someone has packaged for your environment, or you need to build it yourself from source.</p>
<p>The curl project also provides info about the latest version in a somewhat more machine-readable format on this URL: <code>https://curl.haxx.se/info</code>.</p>
<h2 id="off-git">off git!</h2>
<p>Of course, when building from source you can also always opt to build the latest version that exist in the <a href="https://github.com/curl/curl">git repository</a>. It could however be a bit more fragile and probably requires slightly more attention to detail.</p>
