<h1 id="build-curl-with-boringssl">Build curl with boringssl</h1>
<h2 id="build-boringssl">build boringssl</h2>
<p>$HOME/src is where I put the code in this example. You can pick wherever you like.</p>
<pre><code>$ cd $HOME/src
$ git clone https://boringssl.googlesource.com/boringssl
$ cd boringssl
$ mkdir build
$ cd build
$ cmake ..
$ make</code></pre>
<h2 id="set-up-the-build-tree-to-get-detected-by-curls-configure">set up the build tree to get detected by curl’s configure</h2>
<p>In the boringssl source tree root, make sure there’s a <code>lib</code> and an <code>include</code> dir. The <code>lib</code> dir should contain the two libs (I made them symlinks into the build dir). The <code>include</code> dir is already present by default. Make and populate <code>lib</code> like this (commands issued in the source tree root, not in the <code>build/</code> subdirectory).</p>
<pre><code>$ mkdir lib
$ cd lib
$ ln -s ../build/ssl/libssl.a
$ ln -s ../build/crypto/libcrypto.a</code></pre>
<h2 id="configure-curl">configure curl</h2>
<p><code>LIBS=-lpthread ./configure --with-ssl=$HOME/src/boringssl</code> (where I point out the root of the boringssl tree)</p>
<p>Verify that at the end of the configuration, it says it detected BoringSSL to be used.</p>
<h2 id="build-curl">build curl</h2>
<p>Run <code>make</code> in the curl source tree.</p>
<p>Now you can install curl normally with <code>make install</code> etc.</p>
