<h3 id="write-callback">Write callback</h3>
<p>The write callback is set with <code>CURLOPT_WRITEFUNCTION</code>:</p>
<pre><code>curl_easy_setopt(handle, CURLOPT_WRITEFUNCTION, write_callback);</code></pre>
<p>The <code>write_callback</code> function must match this prototype:</p>
<pre><code>size_t write_callback(char *ptr, size_t size, size_t nmemb, void *userdata);</code></pre>
<p>This callback function gets called by libcurl as soon as there is data received that needs to be saved. <em>ptr</em> points to the delivered data, and the size of that data is <em>size</em> multiplied with <em>nmemb</em>.</p>
<p>If this callback is not set, libcurl instead uses ‘fwrite’ by default.</p>
<p>The write callback will be passed as much data as possible in all invokes, but it must not make any assumptions. It may be one byte, it may be thousands. The maximum amount of body data that will be passed to the write callback is defined in the curl.h header file: <code>CURL_MAX_WRITE_SIZE</code> (the usual default is 16KB). If <code>CURLOPT_HEADER</code> is enabled for this transfer, which makes header data get passed to the write callback, you can get up to <code>CURL_MAX_HTTP_HEADER</code> bytes of header data passed into it. This usually means 100KB.</p>
<p>This function may be called with zero bytes data if the transferred file is empty.</p>
<p>The data passed to this function will not be zero terminated! You cannot, for example, use printf’s <code>%s</code> operator to display the contents nor strcpy to copy it.</p>
<p>This callback should return the number of bytes actually taken care of. If that number differs from the number passed to your callback function, it will signal an error condition to the library. This will cause the transfer to get aborted and the libcurl function used will return <code>CURLE_WRITE_ERROR</code>.</p>
<p>The user pointer passed in to the callback in the <em>userdata</em> argument is set with <code>CURLOPT_WRITEDATA</code>:</p>
<pre><code>curl_easy_setopt(handle, CURLOPT_WRITEDATA, custom_pointer);</code></pre>
