<h3 id="progress-callback">Progress callback</h3>
<p>The progress callback is what gets called regularly and repeatedly for each transfer during the entire lifetime of the transfer. The old callback was set with <code>CURLOPT_PROGRESSFUNCTION</code> but the modern and preferred callback is set with <code>CURLOPT_XFERINFOFUNCTION</code>:</p>
<pre><code>curl_easy_setopt(handle, CURLOPT_XFERINFOFUNCTION, xfer_callback);</code></pre>
<p>The <code>xfer_callback</code> function must match this prototype:</p>
<pre><code>int xfer_callback(void *clientp, curl_off_t dltotal, curl_off_t dlnow,
                  curl_off_t ultotal, curl_off_t ulnow);</code></pre>
<p>If this option is set and <code>CURLOPT_NOPROGRESS</code> is set to 0 (zero), this callback function gets called by libcurl with a frequent interval. While data is being transferred it will be called frequently, and during slow periods like when nothing is being transferred it can slow down to about one call per second.</p>
<p>The <strong>clientp</strong> pointer points to the private data set with <code>CURLOPT_XFERINFODATA</code>:</p>
<pre><code>curl_easy_setopt(handle, CURLOPT_XFERINFODATA, custom_pointer);</code></pre>
<p>The callback gets told how much data libcurl will transfer and has transferred, in number of bytes:</p>
<ul class="incremental">
<li><strong>dltotal</strong> is the total number of bytes libcurl expects to download in this transfer.</li>
<li><strong>dlnow</strong> is the number of bytes downloaded so far.</li>
<li><strong>ultotal</strong> is the total number of bytes libcurl expects to upload in this transfer.</li>
<li><strong>ulnow</strong> is the number of bytes uploaded so far.</li>
</ul>
<p>Unknown/unused argument values passed to the callback will be set to zero (like if you only download data, the upload size will remain 0). Many times the callback will be called one or more times first, before it knows the data sizes, so a program must be made to handle that.</p>
<p>Returning a non-zero value from this callback will cause libcurl to abort the transfer and return <code>CURLE_ABORTED_BY_CALLBACK</code>.</p>
<p>If you transfer data with the multi interface, this function will not be called during periods of idleness unless you call the appropriate libcurl function that performs transfers.</p>
<p>(The deprecated callback <code>CURLOPT_PROGRESSFUNCTION</code> worked identically but instead of taking arguments of type <code>curl_off_t</code>, it used <code>double</code>.)</p>
