<h3 id="read-callback">Read callback</h3>
<p>The read callback is set with <code>CURLOPT_READFUNCTION</code>:</p>
<pre><code>curl_easy_setopt(handle, CURLOPT_READFUNCTION, read_callback);</code></pre>
<p>The <code>read_callback</code> function must match this prototype:</p>
<pre><code>size_t read_callback(char *buffer, size_t size, size_t nitems, void *stream);</code></pre>
<p>This callback function gets called by libcurl when it wants to send data to the server. This is a transfer that you have set up to upload data or otherwise send it off to the server. This callback will be called over and over until all data has been delivered or the transfer failed.</p>
<p>The <strong>stream</strong> pointer points to the private data set with <code>CURLOPT_READDATA</code>:</p>
<pre><code>curl_easy_setopt(handle, CURLOPT_READDATA, custom_pointer);</code></pre>
<p>If this callback is not set, libcurl instead uses ‘fread’ by default.</p>
<p>The data area pointed at by the pointer <strong>buffer</strong> should be filled up with at most <strong>size</strong> multiplied with <strong>nitems</strong> number of bytes by your function. The callback should then return the number of bytes that it stored in that memory area, or 0 if we have reached the end of the data. The callback can also return a few “magic” return codes to cause libcurl to return failure immediately or to pause the particular transfer. See the <a href="https://curl.haxx.se/libcurl/c/CURLOPT_READFUNCTION.html">CURLOPT_READFUNCTION man page</a> for details.</p>
