<h2 id="config-file">Config file</h2>
<p>You can easily end up with curl command lines that use a large number of command-line options, making them rather hard to work with. Sometimes the length of the command line you want to enter even hits the maximum length your command-line system allows. The Microsoft Windows command prompt being an example of something that has a fairly small maximum line length.</p>
<p>To aid such situations, curl offers a feature we call “config file”. It basically allows you to write command-line options in a text file instead and then tell curl to read options from that file in addition to the command line.</p>
<p>You tell curl to read more command-line options from a specific file with the -K/–config option, like this:</p>
<pre><code>curl -K cmdline.txt http://example.com</code></pre>
<p>…and in the <code>cmdline.txt</code> file (which, of course, can use any file name you please) you enter each command line per line:</p>
<pre><code># this is a comment, we ask to follow redirects
--location
# ask to do a HEAD request
--head</code></pre>
<p>The config file accepts both short and long options, exactly as you would write them on a command line. As a special extra feature, it also allows you to write the long format of the options without the leading two dashes to make it easier to read. Using that style, the config file shown above can alternatively be written as:</p>
<pre><code># this is a comment, we ask to follow redirects
location
# ask to do a HEAD request
head</code></pre>
<p>Command line options that take an argument must have its argument provided on the same line as the option. For example changing the User-Agent HTTP header can be done with</p>
<pre><code>user-agent &quot;Everything-is-an-agent&quot;</code></pre>
<p>To allow the config files to look even more like a true config file, it also allows you to use ‘=’ or ‘:’ between the option and its argument. As you see above it is not necessary, but some like the clarity it offers. Setting the user-agent option again:</p>
<pre><code>user-agent = &quot;Everything-is-an-agent&quot;</code></pre>
<p>The argument to an option can be specified without double quotes and then curl will treat the next space or newline as the end of the argument. So if you want to provide an argument with embedded spaces you must use double quotes.</p>
<p>The user agent string example we have used above has no white spaces and therefore it can also be provided without the quotes like:</p>
<pre><code>user-agent = Everything-is-an-agent</code></pre>
<p>Finally, if you want to provide a URL in a config file, you must do that the <code>--url</code> way, or just with <code>url</code>, and not like on the command line where basically everything that is not an option is assumed to be a URL. So you provide a URL for curl like this:</p>
<pre><code>url = &quot;http://example.com&quot;</code></pre>
<h3 id="default-config-file">Default config file</h3>
<p>When curl is invoked, it always (unless <code>-q</code> is used) checks for a default config file and uses it if found. The file name it checks for is <code>.curlrc</code> on Unix-like systems and <code>_curlrc</code> on Windows.</p>
<p>The default config file is checked for in the following places in this order:</p>
<ol class="incremental" type="1">
<li><p>curl tries to find the “home directory”: It first checks for the CURL_HOME and then the HOME environment variables. Failing that, it uses <code>getpwuid()</code> on Unix-like systems (which returns the home directory given the current user in your system). On Windows, it then checks for the APPDATA variable, or as a last resort the ‘%USERPROFILE%Data’.</p></li>
<li><p>On Windows, if there is no _curlrc file in the home directory, it checks for one in the same directory the curl executable is placed. On Unix-like systems, it will simply try to load .curlrc from the determined home directory.</p></li>
</ol>
