<h3 id="mailing-list-etiquette">Mailing list etiquette</h3>
<p>Like many communities and subcultures, we have developed guidelines and rules of what we think is the right way to behave and how to communicate on the mailing lists. The <a href="https://curl.haxx.se/mail/etiquette.html">curl mailing list etiquette</a> follows the style of traditional Open Source projects.</p>
<h4 id="do-not-mail-a-single-individual">Do not mail a single individual</h4>
<p>Many people send one question directly to one person. One person gets many mails, and there is only one person who can give you a reply. The question may be something that other people also want to ask. These other people have no way to read the reply but to ask the one person the question. The one person consequently gets overloaded with mail.</p>
<p>If you really want to contact an individual and perhaps pay for his or her services, by all means go ahead, but if it’s just another curl question, take it to a suitable list instead.</p>
<h4 id="reply-or-new-mail">Reply or new mail</h4>
<p>Please do not reply to an existing message as a shortcut to post a message to the lists.</p>
<p>Many mail programs and web archivers use information within mails to keep them together as “threads”, as collections of posts that discuss a certain subject. If you do not intend to reply on the same or similar subject, don’t just hit reply on an existing mail and change subject; create a new mail.</p>
<h4 id="reply-to-the-list">Reply to the list</h4>
<p>When replying to a message from the list, make sure that you do “group reply” or “reply to all”, and not just reply to the author of the single mail you reply to.</p>
<p>We are actively discouraging replying back to the single person by setting the <code>Reply-To:</code> field in outgoing mails back to the mailing list address, making it harder for people to mail the author only by mistake.</p>
<h4 id="use-a-sensible-subject">Use a sensible subject</h4>
<p>Please use a subject of the mail that makes sense and that is related to the contents of your mail. It makes it a lot easier to find your mail afterwards and it makes it easier to track mail threads and topics.</p>
<h4 id="do-not-top-post">Do not top-post</h4>
<p>If you reply to a message, do not use top-posting. Top-posting is when you write the new text at the top of a mail and you insert the previous quoted mail conversation below. It forces users to read the mail in a backwards order to properly understand it.</p>
<p>This is why top posting is so bad:</p>
<pre><code>A: Because it messes up the order in which people normally read text.
Q: Why is top-posting such a bad thing?
A: Top-posting.
Q: What is the most annoying thing in e-mail?</code></pre>
<p>Apart from the screwed-up read order (especially when mixed together in a thread when someone responds using the mandated bottom-posting style), it also makes it impossible to quote only parts of the original mail.</p>
<p>When you reply to a mail you let the mail client insert the previous mail quoted. Then you put the cursor on the first line of the mail and you move down through the mail, deleting all parts of the quotes that do not add context for your comments. When you want to add a comment you do so, inline, right after the quotes that relate to your comment. Then you continue downwards again.</p>
<p>When most of the quotes have been removed and you have added your own words, you are done.</p>
<h4 id="html-is-not-for-mails">HTML is not for mails</h4>
<p>Please switch off those HTML encoded messages. You can mail all those funny mails to your friends. We speak plain text mails.</p>
<h4 id="quoting">Quoting</h4>
<p>Quote as little as possible. Just enough to provide the context you cannot leave out. A lengthy description can be found <a href="https://www.netmeister.org/news/learn2quote.html">here</a>.</p>
<h4 id="digest">Digest</h4>
<p>We allow subscribers to subscribe to the “digest” version of the mailing lists. A digest is a collection of mails lumped together in one single mail.</p>
<p>Should you decide to reply to a mail sent out as a digest, there are two things you MUST consider if you really really cannot subscribe normally instead:</p>
<p>Cut off all mails and chatter that is not related to the mail you want to reply to.</p>
<p>Change the subject name to something sensible and related to the subject, preferably even the actual subject of the single mail you wanted to reply to.</p>
<h4 id="please-tell-us-how-you-solved-the-problem">Please tell us how you solved the problem</h4>
<p>Many people mail questions to the list, people spend some of their time and make an effort in providing good answers to these questions.</p>
<p>If you are the one who asks, please consider responding once more in case one of the hints was what solved your problems. Those who write answers feel good to know that they provided a good answer and that you fixed the problem. Far too often, the person who asked the question is never heard of again, and we never get to know if he/she is gone because the problem was solved or perhaps because the problem was unsolvable!</p>
<p>Getting the solution posted also helps other users that experience the same problem(s). They get to see (possibly in the web archives) that the suggested fixes actually has helped at least one person.</p>
