<h1 id="the-curl-project">The cURL project</h1>
<figure>
<img src="curl-logo.jpg" alt="curl logo" /><figcaption>curl logo</figcaption>
</figure>
<p>A funny detail about Open Source projects is that they are called “projects”, as if they were somehow limited in time or ever can get done. The cURL “project” is a number of loosely coupled individual volunteers working on writing software together with a common mission: to do reliable data transfers with Internet protocols, and give the code to anyone to use for free.</p>
