<h2 id="mailing-lists">Mailing lists</h2>
<p>Some of the most important mailing lists are…</p>
<h3 id="curl-users">curl-users</h3>
<p>The main mailing list for users and developers of the curl command-line tool, for questions and help around curl concepts, command-line options, the protocols curl can speak or even related tools. We tend to move development issues or more advanced bug fixes discussions over to curl-library instead, since libcurl is the engine that drives most of curl.</p>
<p>See https://cool.haxx.se/mailman/listinfo/curl-users</p>
<h3 id="curl-library">curl-library</h3>
<p>The main development list, and also for users of libcurl. We discuss how to use libcurl in applications as well as development of libcurl itself. You will find lots of questions on libcurl behavior, debugging and documentation issues.</p>
<p>See https://cool.haxx.se/mailman/listinfo/curl-library</p>
<h3 id="curl-announce">curl-announce</h3>
<p>This mailing list only gets announcements about new releases and security problems—nothing else. This one is for those who want a more casual feed of information from the project. https://cool.haxx.se/mailman/listinfo/curl-announce</p>
