<h2 id="trust">Trust</h2>
<p>For a software to conquer the world, it needs to be trusted. It takes trust to build more trust and it can all be broken down really fast if the foundation is proven to have cracks.</p>
<p>In the curl project we build trust for our users in a few different ways:</p>
<ol class="incremental" type="1">
<li><p>We are completely transparent about everything. Every decision, every discussion as well as every line of code are always public and done in the open.</p></li>
<li><p>We try hard to write reliable code. We write test cases, we review code, we document best practices and we have a style guide that helps us keep code consistent.</p></li>
<li><p>We stick to promises and guarantees as much as possible. We do not break APIs and we do not abandon support for old systems.</p></li>
<li><p>Security is of utmost importance and we take every reported incident seriously and realize that we <strong>must</strong> fix all known problems and we need to do it responsibly. We do our best to not endanger our users.</p></li>
<li><p>We act like adults. We can be silly and we can joke around, but we do it responsibly and we follow our <a href="opensource-coc.md">Code of Conduct</a>. Everyone should be able to even trust us to behave.</p></li>
</ol>
