<h2 id="the-name">The name</h2>
<p>Naming things is hard.</p>
<p>The tool was about uploading and downloading data specified with a URL. It was a client-side program (the ‘c’), a URL client, and would show the data (by default). So ‘c’ for Client and URL: <strong>cURL</strong>.</p>
<p>Nothing more was needed so the name was selected and we never looked back again.</p>
<p>Later on, someone suggested that curl could actually be a clever “recursive acronym” (where the first letter in the acronym refers back to the same word): “Curl URL Request Library”</p>
<p>While that is awesome, it was actually not the original thought. We sort of wish we were that clever though…</p>
<p>There are and were other projects using the name curl in various ways, but we were not aware of them by the time our curl came to be.</p>
<h3 id="pronunciation">Pronunciation</h3>
<p>Most of us pronounce “curl” with an initial k sound, just like the English word curl. It rhymes with words like girl and earl. Merriam Webster has a <a href="https://media.merriam-webster.com/soundc11/c/curl0001.wav">short WAV file</a> to help.</p>
<h3 id="confusions-and-mixups">Confusions and mixups</h3>
<p>Soon after our curl was created another “curl” appeared that created a programming language. That curl still <a href="http://www.curl.com">exists</a>.</p>
<p>Several libcurl bindings for various programming languages use the term “curl” or “CURL” in part or completely to describe their bindings. Sometimes you will find users talking about curl but referring to neither the command-line tool nor the library that is made by this project.</p>
<h3 id="used-as-a-verb">Used as a verb</h3>
<p>‘To curl something’ is sometimes used as a reference to use a non-browser tool to download a file or resource from a URL.</p>
