<h2 id="future">Future</h2>
<figure>
<img src="devgraph-800.png" alt="curl future" /><figcaption>curl future</figcaption>
</figure>
<p>There’s no slowdown in sight in curl’s future, bugs reported, development pace or how Internet protocols are being developed or updated.</p>
<p>We are looking forward to support for more protocols, support for more features within the already supported protocols, and more and better APIs for libcurl to allow users to do transfers even better and faster.</p>
<p>The project casually maintains a <a href="https://curl.haxx.se/docs/todo.html">TODO</a> file holding a bunch of ideas that we could work on in the future. It also keeps a <a href="https://curl.haxx.se/docs/knownbugs.html">KNOWN_BUGS</a> document with, a list of known problems we would like to fix.</p>
<p>There’s a <a href="https://curl.haxx.se/dev/roadmap.html">ROADMAP</a> document that describe some plans for the short-term that some of the active developers thought they would work on next. Of course, we can not promise that we will always follow it perfectly.</p>
<p>We are highly dependent on developers to join in and work on what they want to get done, be it bug fixes or new features.</p>
