<h2 id="how-to-traverse-directories">How to traverse directories</h2>
<p>When doing FTP commands to traverse the remote file system, there are a few different ways curl can proceed to reach the target file, the file the user wants to transfer.</p>
<h3 id="multicwd">multicwd</h3>
<p>curl can do one change directory (CWD) command for every individual directory down the file tree hierarchy. If the full path is <code>one/two/three/file.txt</code>, that method means doing three <code>CWD</code> commands before asking for the <code>file.txt</code> file to get transferred. This method thus creates quite a large number of commands if the path is many levels deep. This method is mandated by an early spec (RFC 1738) and is how curl acts by default:</p>
<pre><code>curl --ftp-method multicwd ftp://example.com/one/two/three/file.txt</code></pre>
<p>This then equals this FTP command/response sequence (simplified):</p>
<pre><code>&gt; CWD one
&lt; 250 OK. Current directory is /one
&gt; CWD two
&lt; 250 OK. Current directory is /one/two
&gt; CWD three
&lt; 250 OK. Current directory is /one/two/three
&gt; RETR file.txt</code></pre>
<h3 id="nocwd">nocwd</h3>
<p>The opposite to doing one CWD for each directory part is to not change the directory at all. This method asks the server using the entire path at once and is thus fast. Occasionally servers have a problem with this and it is not purely standards-compliant:</p>
<pre><code>curl --ftp-method nocwd ftp://example.com/one/two/three/file.txt</code></pre>
<p>This then equals this FTP command/response sequence (simplified):</p>
<pre><code>&gt; RETR one/two/three/file.txt</code></pre>
<h3 id="singlecwd">singlecwd</h3>
<p>This is the in-between the other two FTP methods. This makes a single <code>CWD</code> command to the target directory and then it asks for the given file:</p>
<pre><code>curl --ftp-method singlecwd ftp://example.com/one/two/three/file.txt</code></pre>
<p>This then equals this FTP command/response sequence (simplified):</p>
<pre><code>&gt; CWD one/two/three
&lt; 250 OK. Current directory is /one/two/three
&gt; RETR file.txt</code></pre>
