<h1 id="get-curl-for-windows">Get curl for Windows</h1>
<p>Windows 10 comes with the curl tool bundled with the operating system since version 1804. If you have an older Windows version or just want to upgrade to the latest version shipped by the curl project, download the latest official curl release for Windows from <a href="https://curl.haxx.se/windows/">curl.haxx.se/windows</a> and install that.</p>
<h2 id="get-libcurl-for-windows">Get libcurl for Windows</h2>
<p>TBD</p>
