<h1 id="get-curl">Get curl</h1>
<p>curl is totally free, open and available. There are numerous ways to get it and install it for most operating systems and architecture. This section will give you some answers to start with, but will not be a complete reference.</p>
<p>Some operating systems ship curl by default. Some don’t.</p>
<p>In addition, You can always download the source from <a href="https://curl.haxx.se">curl.haxx.se</a> or find binary packages to download from there.</p>
