<h1 id="writing-guidelines">Writing guidelines</h1>
<p>This is a collection of guidelines and rules we try to adhere to when writing and editing “Everything curl”.</p>
<h2 id="capitalization-of-words-in-section-names">Capitalization of words in section names</h2>
<p>We do not use that practice, partially because our sections are not really “chapters”, but also to create a more informal feel.</p>
<h2 id="avoid-prepositions-at-the-end-of-sentences">Avoid prepositions at the end of sentences</h2>
<p>This is not a hard rule, but we should strive to avoid it.</p>
<h2 id="avoid-colloquial-contractions-like-itll-mustve-mightve-shouldve">Avoid colloquial contractions like it’ll, must’ve, might’ve, should’ve</h2>
<p>Spell them out as “it will” and “must have”, etc.</p>
<h2 id="vs-typographical-em-dash">- vs — (typographical em dash)</h2>
<p>And … vs … (typographical ellipses)</p>
<p>Let’s try to use the correct UTF-8 characters!</p>
<h2 id="avoid-the-short-forms-of-dir-and-repo">Avoid the short forms of dir and repo</h2>
<p>They are instead called “directory” and “repository”.</p>
<h2 id="internet-with-a-capital-i">Internet with a capital I</h2>
<p>Still the proper name of the one we all know and love. The same goes for other proper names like Linux, Unix, Windows (the OS), and JavaScript.</p>
<h2 id="avoid-using-command-line-options-in-titles-or-subtitles">Avoid using command-line options in titles or subtitles</h2>
<p>Use an English phrase instead. This is not a man page.</p>
<h2 id="use-backticks-around-libcurl-constants">Use backticks around libcurl constants</h2>
<p>For example, <code>CURLE_OK</code> and <code>CURLOPT_URL</code>.</p>
