<h1 id="how-to-read-this-book">How to read this book</h1>
<p>Here is an overview of the main sections of this book and what they cover.</p>
<h2 id="the-curl-project">1. <a href="curl.html">The cURL project</a></h2>
<p>Project things. How it started, how we work and how often releases are made.</p>
<h2 id="open-source">2. <a href="opensource.html">Open Source</a></h2>
<p>An attempt to explain what open source is and how it works.</p>
<h2 id="the-source-code">3. <a href="sourcecode.html">The source code</a></h2>
<p>A description of the curl source tree and how the layout of the code is and works.</p>
<h2 id="network-and-protocols">4. <a href="protocols.html">Network and protocols</a></h2>
<p>What exactly are networks and protocols?</p>
<h2 id="command-line-basics">5. <a href="cmdline.html">Command line basics</a></h2>
<p>Start at the beginning. How do you use curl from a command line?</p>
<h2 id="using-curl">6. <a href="usingcurl.html">Using curl</a></h2>
<p>Going deeper, looking at things you do with curl the command line tool.</p>
<h2 id="how-to-http-with-curl">7. <a href="http.html">How to HTTP with curl</a></h2>
<p>Digging deeper on HTTP specific actions to do with the curl command line tool.</p>
<h2 id="building-and-installing">8. <a href="building.html">Building and installing</a></h2>
<p>Explaining how you can build curl and libcurl from source code.</p>
<h2 id="libcurl-basics">9. <a href="libcurl.html">libcurl basics</a></h2>
<p>How libcurl works and how you use it when writing your own applications with it.</p>
<h2 id="http-with-libcurl">10. <a href="libcurl-http.html">HTTP with libcurl</a></h2>
<p>A closer look at doing HTTP specific things with libcurl.</p>
<h2 id="bindings">11. <a href="bindings.html">Bindings</a></h2>
<p>A casual overview of some of the most popular libcurl bindings and how similar they are to the libcurl C API.</p>
<h2 id="libcurl-internals">12. <a href="internals.html">libcurl internals</a></h2>
<p>Under the hood it works like this…</p>
<h2 id="index">13. <a href="bookindex.html">Index</a></h2>
<p>The index.</p>
