<h2 id="http-versions">HTTP versions</h2>
<p>As any other Internet protocol, the HTTP protocol has kept evolving over the years and now there are clients and servers distributed over the world and over time that speak different versions with varying levels of success. So in order to get libcurl to work with the URLs you pass in libcurl offers ways for you to specify which HTTP version that request and transfer should use. libcurl is designed in a way so that it tries to use the most common, the most sensible if you want, default values first but sometimes that is not enough and then you may need to instruct libcurl what to do.</p>
<p>Since perhaps mid 2016, curl will default to use HTTP/1.1 for HTTP servers. If you connect to HTTPS and you have a libcurl that has HTTP/2 abilities built-in, curl will attempt to use HTTP/2 automatically or fall back to 1.1 in case the negotiation failed. Non-HTTP/2 capable curls get 1.1 over HTTPS by default.</p>
<p>If the default is not good enough for your transfer, the <code>CURLOPT_HTTP_VERSION</code> option is there for you.</p>
<table>
<thead>
<tr class="header">
<th>Option</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>[default]</td>
<td></td>
</tr>
<tr class="even">
<td>–http1.0</td>
<td>HTTP/1.0</td>
</tr>
<tr class="odd">
<td>–http1.1</td>
<td>HTTP/1.1</td>
</tr>
<tr class="even">
<td>–http2</td>
<td><a href="http-http2.md">HTTP/2</a></td>
</tr>
<tr class="odd">
<td>–http2-prior-knowledge</td>
<td>HTTP/2</td>
</tr>
<tr class="even">
<td>–http3</td>
<td><a href="http-http3.md">HTTP/3</a></td>
</tr>
</tbody>
</table>
