<h1 id="d-vs--f">-d vs -F</h1>
<p>Previous chapters talked about <a href="http-post.md">regular POST</a> and <a href="http-multipart.md">multipart formpost</a>, and in your typical command lines you do them with <code>-d</code> or <code>-F</code>.</p>
<p>When do you use which of them?</p>
<p>As described in the chapters mentioned above, both these options send the specified data to the server. The difference is in how the data is formatted over the wire. Most of the time, the receiving end is written to expect a specific format and it expects that the sender formats and sends the data correctly. A client cannot just pick a format of its own choice.</p>
<h2 id="html-web-forms">HTML web forms</h2>
<p>When we are talking browsers and HTML, the standard way is to offer a form to the user that sends off data when the form has been filled in. The <code>&lt;form&gt;</code> tag is what makes one of those appear on the web page. The tag instructs the browser how to format its POST. If the form tag includes <code>enctype=multipart/form-data</code>, it tells the browser to send the data as a <a href="http-multipart.md">multipart formpost</a> which you make with curl’s <code>-F</code> option. This method is typically used when the form includes a <code>&lt;input type=file&gt;</code> tag, for file uploads.</p>
<p>The default <code>enctype</code> used by forms, which is rarely spelled out in HTML since it is default, is <code>application/x-www-form-urlencoded</code>. It makes the browser “URL encode” the input as name=value pairs with the data encoded to avoid unsafe character. We often refer to that as a <a href="http-post.md">regular POST</a>, and you perform one with curl’s <code>-d</code> and friends.</p>
<h2 id="post-outside-of-html">POST outside of HTML</h2>
<p>POST is a regular HTTP method and there is no requirement that it be triggered by HTML or involve a browser. Lots of services, APIs and other systems allow you to pass in data these days in order to get things done.</p>
<p>If these services expect plain “raw” data or perhaps data formatted as JSON or similar, you want the <a href="http-post.md">regular POST</a> approach. curl’s <code>-d</code> option does not alter or encode the data at all but will just send exactly what you tell it to. Just pay attention to -d’s default Content-Type as that might not be what you want.</p>
