<h2 id="http-ranges">HTTP ranges</h2>
<p>What if the client only wants the first 200 bytes out of a remote resource or perhaps 300 bytes somewhere in the middle? The HTTP protocol allows a client to ask for only a specific data range. The client asks the server for the specific range with a start offset and an end offset. It can even combine things and ask for several ranges in the same request by just listing a bunch of pieces next to each other. When a server sends back multiple independent pieces to answer such a request, you will get them separated with mime boundary strings and it will be up to the user application to handle that accordingly. curl will not further separate such a response.</p>
<p>However, a byte range is only a request to the server. It does not have to respect the request and in many cases, like when the server automatically generates the contents on the fly when it is being asked, it will simply refuse to do it and it then instead responds with the full contents anyway. <!-- the above is duplicated at libcurl-http-ranges.md --></p>
<p>You can make curl ask for a range with <code>-r</code> or <code>--range</code>. If you want the first 200 bytes out of something:</p>
<pre><code>curl -r 0-199 http://example.com</code></pre>
<p>Or everything in the file starting from index 200:</p>
<pre><code>curl -r 200- http://example.com</code></pre>
<p>Get 200 bytes from index 0 <em>and</em> 200 bytes from index 1000:</p>
<pre><code>curl -r 0-199,1000-1199 http://example.com/</code></pre>
