<h3 id="http-protocol-basics">HTTP protocol basics</h3>
<p>(This assumes you have read the <a href="protocols.md">Network and protocols</a> section or are otherwise already familiar with protocols.)</p>
<p>HTTP is a protocol that is easy to learn the basics of. A client connects to a server—and it is always the client that takes the initiative—sends a request and receives a response. Both the request and the response consist of headers and a body. There can be little or a lot of information going in both directions.</p>
<p>An HTTP request sent by a client starts with a request line, followed by headers and then optionally a body. The most common HTTP request is probably the GET request which asks the server to return a specific resource, and this request does not contain a body.</p>
<p>When a client connects to ‘example.com’ and asks for the ‘/’ resource, it sends a GET without a request body:</p>
<pre><code>GET / HTTP/1.1
User-agent: curl/2000
Host: example.com</code></pre>
<p>…the server could respond with something like below, with response headers and a response body (‘hello’). The first line in the response also contains the response code and the specific version the server supports:</p>
<pre><code>HTTP/1.1 200 OK
Server: example-server/1.1
Content-Length: 5
Content-Type: plain/text

hello</code></pre>
<p>If the client would instead send a request with a small request body (‘hello’), it could look like this:</p>
<pre><code>POST / HTTP/1.1
Host: example.com
User-agent: curl/2000
Content-Length: 5

hello</code></pre>
<p>A server always responds to an HTTP request unless something is wrong.</p>
<h3 id="the-url-converted-to-a-request">The URL converted to a request</h3>
<p>So when a HTTP client is given a URL to operate on, that URL is then used, picked apart and those parts are used in various places in the outgoing request to the server. Let’s take the an example URL:</p>
<pre><code>https://www.example.com/path/to/file</code></pre>
<ul class="incremental">
<li><p><strong>https</strong> means that curl will use TLS to the remote port 443 (which is the default port number when no specified is used in the URL).</p></li>
<li><p><strong>www.example.com</strong> is the host name that curl will resolve to one or more IP address to connect to. This host name will also be used in the HTTP request in the <code>Host:</code> header.</p></li>
<li><p><strong>/path/to/file</strong> is used in the HTTP request to tell the server which exact document/resources curl wants to fetch</p></li>
</ul>
<h3 id="path-as-is">–path-as-is</h3>
<p>The path part of the URL is the part that starts with the first slash after the host name and ends either at the end of the URL or at a ‘?’ or ‘#’ (roughly speaking).</p>
<p>If you include substrings including <code>/../</code> or <code>/./</code> in the path, curl will automatically squash them before the path is sent to the server, as is dictated by standards and how such strings tend to work in local file systems. The <code>/../</code> sequence will remove the previous section so that <code>/hello/sir/../</code> ends up just <code>/hello/</code> and <code>/./</code> is simply removed so that <code>/hello/./sir/</code> becomes <code>/hello/sir/</code>.</p>
<p>To <em>prevent</em> curl from squashing those magic sequences before they are sent to the server and thus allow them through, the <code>--path-as-is</code> option exists.</p>
