<h1 id="https">HTTPS</h1>
<p>HTTPS is in effect Secure HTTP. The “secure” part means that the TCP transport layer is enhanced to provide authentication, privacy (encryption) and data integrity by the use of TLS.</p>
<p>See the <a href="usingcurl-tls.md">Using TLS</a> section for in-depth details on how to modify and tweak the TLS details in a HTTPS transfer.</p>
