<h1 id="scripting-browser-like-tasks">Scripting browser-like tasks</h1>
<p>curl can do almost every HTTP operation and transfer your favorite browser can. It can actually do a lot more than so as well, but in this chapter we will focus on the fact that you can use curl to reproduce, or script, what you would otherwise have to do manually with a browser.</p>
<p>Here are some tricks and advice on how to proceed when doing this.</p>
<h2 id="figure-out-what-the-browser-does">Figure out what the browser does</h2>
<p>This is really a necessary first step. Second-guessing what it does risk having you chase down the wrong problem rat-hole. The scientific approach to this problem pretty much requires that you first understand what the browser does.</p>
<p>To learn what the browser does to perform a certain task, you can either read the HTML pages that you operate on and with a deep enough knowledge you can see what a browser would do to accomplish it and then start trying to do the same with curl.</p>
<p>The slightly more effective way, that also works even for the cases when the page is shock-full of obfuscated JavaScript, is to run the browser and monitor what HTTP operations it performs.</p>
<p>The <a href="usingcurl-copyas.md">Copy as curl</a> section describes how you can record a browser’s request and easily convert that to a curl command line.</p>
<p>Those copied curl command lines are often not Good enough though since they tend to copy <em>exactly</em> that request, while you probably want to be a bad bit more dynamic so that you can reproduce the same operation and not just resend the verbatim request.</p>
<h2 id="cookies">Cookies</h2>
<p>A lot of the web today works with a user name and password login prompt somewhere. In many cases you even logged in a while ago with your browser but it has kept the state and keeps you logged in.</p>
<p>The logged-in state is almost always done by using <a href="http-cookies.md">cookies</a>. A common operation would be to first login and save the returned cookies in a file, and then let the site update the cookies in the subsequent command lines when you traverse the site with curl.</p>
<h2 id="web-logins-and-sessions">Web logins and sessions</h2>
<p>The site at https://example.com/ features a login prompt. The login on the web site is a HTML form to which you send a <a href="http-post.md">HTTP POST</a> to. Save the response cookies and the response (HTML) output.</p>
<p>Although the login page is “visible” (if you’d use a browser) on https://example.com/, the HTML form tag on that page informs you about which exact URL to send the POST to, using the “action” parameter.</p>
<p>In our imaginary case, the form tag looks like this:</p>
<pre><code>&lt;form action=&quot;login.cgi&quot; method=&quot;POST&quot;&gt;
  &lt;input type=&quot;text&quot; name=&quot;user&quot;&gt;
  &lt;input type=&quot;password&quot; name=&quot;secret&quot;&gt;
  &lt;input type=&quot;hidden&quot; name=&quot;id&quot; value=&quot;bc76&quot;&gt;
&lt;/form&gt;</code></pre>
<p>There are three fields of importance. <strong>text</strong>, <strong>secret</strong> and <strong>id</strong>. The last one, the id, is marked “hidden” which means that it will not show up in the browser and it is not a field that a user fills in. It is generated by the site itself, and for your curl login to succeed, you need extract that value and use that in your POST submission together with the rest of the data.</p>
<p>Send correct contents to the fields to the correct destination URL:</p>
<pre><code>curl -d user=daniel -d secret=qwerty -d id=bc76 https://example.com/login.cgi -o out</code></pre>
<p>Many login pages even send you a session cookie already when presenting the login, and since you often need to extract the hidden fields from the <code>&lt;form&gt;</code> tag anyway, you could do something like this first:</p>
<pre><code>curl -c cookies https://example.com/ -o loginform</code></pre>
<p>You would often need a HTML parser or some script language to extract the “id” field from there and then you can proceed and login as mentioned above, but with the added cookie loading (I’m splitting the line into two lines to make it more readable):</p>
<pre><code>curl -d user=daniel -d secret=qwerty -d id=bc76 https://example.com/login.cgi \
-b cookies -c cookies -o out</code></pre>
<p>You can see that it uses both <code>-b</code> for reading cookies from the file and <code>-c</code> to store cookies again, for when the server sends back updated cookies.</p>
<p>Always, <em>always</em>, add <code>-v</code> to the command lines when working out the details. See also the <a href="usingcurl-verbose.md">verbose</a> section for more details on that.</p>
<h2 id="redirects">Redirects</h2>
<p>It is common for servers to use <a href="http-redirects.md">redirects</a> when responding to a login POST. It is so common I would probably say it is rare that it is not solved with a redirect.</p>
<p>You then just need to remember that curl does not follow redirects automatically. You need to instruct it to do this by adding the <code>-L</code> command line option. Adding that to the previous command line then makes the full one look like:</p>
<pre><code>curl -d user=daniel -d secret=qwerty -d id=bc76 https://example.com/login.cgi \
-b cookies -c cookies -L -o out</code></pre>
<h2 id="post-login">Post-login</h2>
<p>In the above example command lines, we save the login response output in a file named ‘out’ and in your script you should probably verify that it contains some text or something that confirms that the login is successful.</p>
<p>Once successfully logged in, get the files or perform the HTTP operations you need and remember to keep using both <code>-b</code> and <code>-c</code> on the command lines to use and update the cookies.</p>
<h2 id="referer">Referer</h2>
<p>Some sites will check that the <code>Referer:</code> is actually identifying the legitimate “parent” URL when you request something or when you login or similar. You can then inform the server from which URL you arrived by using <code>-e https://example.com/</code> etc. Appending that to the previous login attempt then makes it:</p>
<pre><code>curl -d user=daniel -d secret=qwerty -d id=bc76 https://example.com/login.cgi \
-b cookies -c cookies -L -e &quot;https://example.com/&quot; -o out</code></pre>
