<h1 id="http3">HTTP/3</h1>
<p>(This feature is marked <strong>experimental</strong> as of this time and needs to be explicitly enabled in the build.)</p>
<h2 id="drafts-not-standard">Drafts, not standard</h2>
<p>As of August 2019, <strong>the HTTP/3 protocol has not yet been finalized</strong>. Everything and everyone that speaks HTTP/3 at this point does it with the knowledge and awareness that it might change going forward.</p>
<h2 id="quic">QUIC</h2>
<p>HTTP/3 is the HTTP version that is designed to communicate over QUIC. QUIC can in all practicular purposes to be considered as a TCP+TLS replacement.</p>
<p>All requests that do HTTP/3 will therefore not use TCP. They will use QUIC. QUIC is a reliable transport protocol built over UDP. HTTP/3 implies use of QUIC.</p>
<h2 id="https-only">HTTPS only</h2>
<p>HTTP/3 is performed over QUIC which is always using TLS, so HTTP/3 is by defintion always encrypted and secure. Therefore, curl only uses HTTP/3 for <code>HTTPS://</code> URLs.</p>
<h2 id="enable">Enable</h2>
<p>As a shortcut straight to HTTP/3, to make curl attempt a QUIC connect directly to the given host name and port number, use <code>--http3</code>. Like this:</p>
<pre><code>curl --http3 https://example.com/</code></pre>
<p>Normally, a <code>HTTPS://</code> URL implies that a client needs to connect to it using TC + TLS.</p>
<h2 id="alt-svc">Alt-svc:</h2>
<p>The <a href="http-altsvc.md">alt-svc</a> method of changing to HTTP/3 is the official way to bootstrap into HTTP/3 for a server.</p>
<p>Note that you need that feature built-in and that it doesn’t switch to HTTP/3 for the <em>current</em> request unless the alt-svc cache is already populated, but it will rather store the info for use in the <em>next</em> request to the host.</p>
<h2 id="when-quic-is-denied">When QUIC is denied</h2>
<p>A certain amount of QUIC connection attempts will fail, partly because many networks and hosts block or throttle the traffic.</p>
<p>Currently, curl features no fall-back logic but if a HTTP/3 (or QUIC rather) connection fails it will be reported as, yes, a failure.</p>
<p>Web browsers will upgrade to HTTP/3 in the background and only switch over once they know it works, which is a smoother way that doesn’t break things for users as much.</p>
<p>Future curl versions will likely offer better fall-back and error handling for this.</p>
