<ul class="incremental">
<li><a href="how.html">How to read this book</a></li>
<li><a href="curl.html">The cURL project</a>
<ul class="incremental">
<li><a href="curl-started.html">How it started</a></li>
<li><a href="curl-name.html">The name</a></li>
<li><a href="curl-does.html">What does curl do?</a></li>
<li><a href="curl-comm.html">Project communication</a></li>
<li><a href="curl-etiquette.html">Mailing list etiquette</a></li>
<li><a href="curl-maillists.html">Mailing lists</a></li>
<li><a href="curl-bugs.html">Reporting bugs</a></li>
<li><a href="curl-releases.html">Releases</a></li>
<li><a href="curl-security.html">Security</a></li>
<li><a href="curl-trust.html">Trust</a></li>
<li><a href="curl-devteam.html">The development team</a></li>
<li><a href="curl-users.html">Users of curl</a></li>
<li><a href="curl-future.html">Future</a></li>
</ul></li>
<li><a href="get-curl.html">Get curl</a>
<ul class="incremental">
<li><a href="get-curl-linux.html">Linux</a></li>
<li><a href="get-curl-windows.html">Windows</a></li>
<li><a href="get-curl-macos.html">macOS</a></li>
</ul></li>
<li><a href="opensource.html">Open Source</a>
<ul class="incremental">
<li><a href="opensource-license.html">License</a></li>
<li><a href="opensource-copyright.html">Copyright and Legal</a></li>
<li><a href="opensource-coc.html">Code of Conduct</a></li>
<li><a href="opensource-devel.html">Development</a></li>
</ul></li>
<li><a href="sourcecode.html">The source code</a>
<ul class="incremental">
<li><a href="sourcecode-layout.html">Code layout</a></li>
<li><a href="sourcecode-options.html">Handling build options</a></li>
<li><a href="sourcecode-style.html">Code style</a></li>
<li><a href="sourcecode-contributing.html">Contributing</a></li>
<li><a href="sourcecode-reportvuln.html">Reporting vulnerabilities</a></li>
<li><a href="sourcecode-web.html">Web site</a></li>
<li><a href="building.html">Building and installing</a>
<ul class="incremental">
<li><a href="building-source.html">Build from source</a></li>
<li><a href="building-deps.html">Dependencies</a></li>
<li><a href="building-tls.html">TLS libraries</a>
<ul class="incremental">
<li><a href="building-boringssl.html">BoringSSL</a></li>
</ul></li>
</ul></li>
</ul></li>
<li><a href="protocols.html">Network and protocols</a>
<ul class="incremental">
<li><a href="protocols-network.html">Networking simplified</a></li>
<li><a href="protocols-protocols.html">Protocols</a></li>
<li><a href="protocols-curl.html">curl protocols</a></li>
</ul></li>
<li><a href="cmdline.html">Command line basics</a>
<ul class="incremental">
<li><a href="cmdline-options.html">Command line options</a></li>
<li><a href="cmdline-versions.html">Options depend on version</a></li>
<li><a href="cmdline-urls.html">URLs</a></li>
<li><a href="cmdline-globbing.html">URL globbing</a></li>
<li><a href="cmdline-listopts.html">List options</a></li>
<li><a href="cmdline-configfile.html">Config file</a></li>
<li><a href="cmdline-passwords.html">Passwords</a></li>
<li><a href="cmdline-progressmeter.html">Progress meter</a></li>
</ul></li>
<li><a href="usingcurl.html">Using curl</a>
<ul class="incremental">
<li><a href="usingcurl-verbose.html">Verbose</a>
<ul class="incremental">
<li><a href="usingcurl-trace.html">Trace options</a></li>
<li><a href="usingcurl-writeout.html">Write out</a></li>
</ul></li>
<li><a href="usingcurl-persist.html">Persistent connections</a></li>
<li><a href="usingcurl-downloads.html">Downloads</a></li>
<li><a href="usingcurl-uploads.html">Uploads</a></li>
<li><a href="usingcurl-connections.html">Connections</a></li>
<li><a href="usingcurl-timeouts.html">Timeouts</a></li>
<li><a href="usingcurl-netrc.html">.netrc</a></li>
<li><a href="usingcurl-proxies.html">Proxies</a></li>
<li><a href="usingcurl-returns.html">Exit status</a></li>
<li><a href="usingcurl-ftp.html">FTP</a>
<ul class="incremental">
<li><a href="ftp-twoconnections.html">Two connections</a></li>
<li><a href="ftp-traversedir.html">Directory traversing</a></li>
<li><a href="ftp-advanced.html">Advanced FTP use</a></li>
</ul></li>
<li><a href="usingcurl-scpsftp.html">SCP and SFTP</a></li>
<li><a href="usingcurl-reademail.html">IMAP and POP3</a></li>
<li><a href="usingcurl-smtp.html">SMTP</a></li>
<li><a href="usingcurl-telnet.html">TELNET</a></li>
<li><a href="usingcurl-tls.html">TLS</a>
<ul class="incremental">
<li><a href="tls-sslkeylogfile.html">SSLKEYLOGFILE</a></li>
</ul></li>
<li><a href="usingcurl-copyas.html">Copy as curl</a></li>
</ul></li>
<li><a href="http.html">How to HTTP with curl</a>
<ul class="incremental">
<li><a href="http-basics.html">Protocol basics</a></li>
<li><a href="http-response.html">Responses</a></li>
<li><a href="http-auth.html">Authentication</a></li>
<li><a href="http-ranges.html">Ranges</a></li>
<li><a href="http-versions.html">HTTP versions</a></li>
<li><a href="http-https.html">HTTPS</a></li>
<li><a href="http-post.html">HTTP POST</a></li>
<li><a href="http-multipart.html">Multipart formposts</a></li>
<li><a href="http-postvspost.html">-d vs -F</a></li>
<li><a href="http-redirects.html">Redirects</a></li>
<li><a href="http-requests.html">Modify the HTTP request</a></li>
<li><a href="http-put.html">HTTP PUT</a></li>
<li><a href="http-cookies.html">Cookies</a></li>
<li><a href="http-http2.html">HTTP/2</a></li>
<li><a href="http-altsvc.html">Alternative Services</a></li>
<li><a href="http-http3.html">HTTP/3</a></li>
<li><a href="http-cheatsheet.html">HTTP cheat sheet</a></li>
<li><a href="http-browserlike.html">Scripting browser-like tasks</a></li>
</ul></li>
<li><a href="libcurl.html">libcurl basics</a>
<ul class="incremental">
<li><a href="libcurl-easyhandle.html">Easy handle</a></li>
<li><a href="libcurl-drive.html">Drive transfers</a>
<ul class="incremental">
<li><a href="libcurl-drive-easy.html">Drive with easy</a></li>
<li><a href="libcurl-drive-multi.html">Drive with multi</a></li>
<li><a href="libcurl-drive-multi-socket.html">Drive with multi_socket</a></li>
</ul></li>
<li><a href="libcurl-connectionreuse.html">Connection reuse</a></li>
<li><a href="libcurl-callbacks.html">Callbacks</a>
<ul class="incremental">
<li><a href="callback-write.html">Write data</a></li>
<li><a href="callback-read.html">Read data</a></li>
<li><a href="callback-progress.html">Progress information</a></li>
<li><a href="callback-header.html">Header data</a></li>
<li><a href="callback-debug.html">Debug</a></li>
<li><a href="callback-sockopt.html">sockopt</a></li>
<li><a href="callback-sslcontext.html">SSL context</a></li>
<li><a href="callback-seek.html">Seek and ioctl</a></li>
<li><a href="callback-conversions.html">Network data conversion</a></li>
<li><a href="callback-openclosesocket.html">Opensocket and closesocket</a></li>
<li><a href="callback-sshkey.html">SSH key</a></li>
<li><a href="callback-rtsp.html">RTSP interleaved data</a></li>
<li><a href="callback-ftpmatch.html">FTP matching</a></li>
</ul></li>
<li><a href="libcurl-cleanup.html">Cleanup</a></li>
<li><a href="libcurl-names.html">Name resolving</a></li>
<li><a href="libcurl-proxies.html">Proxies</a></li>
<li><a href="libcurl-getinfo.html">Post transfer info</a></li>
<li><a href="libcurl-sharing.html">Share data between handles</a></li>
<li><a href="libcurl-url.html">URL API</a></li>
<li><a href="libcurl-api.html">API compatibility</a></li>
<li><a href="libcurl--libcurl.html">–libcurl</a></li>
<li><a href="libcurl-headers.html">Header files</a></li>
<li><a href="libcurl-globalinit.html">Global initialization</a></li>
<li><a href="libcurl-threading.html">multi-threading</a></li>
<li><a href="libcurl-options.html">curl easy options</a>
<ul class="incremental">
<li><a href="libcurl-tlsoptions.html">TLS options</a></li>
</ul></li>
<li><a href="libcurl-curlcode.html">CURLcode return codes</a></li>
<li><a href="libcurl-verbose.html">Verbose operations</a></li>
<li><a href="libcurlexamples.html">libcurl examples</a>
<ul class="incremental">
<li><a href="libcurlex-get.html">Get a simple HTTP page</a></li>
<li><a href="libcurlex-getinmem.html">Get a page in memory</a></li>
<li><a href="libcurlex-login.html">Submit a login form over HTTP</a></li>
</ul></li>
<li><a href="libcurl-cplusplus.html">for C++ programmers</a></li>
</ul></li>
<li><a href="libcurl-http.html">HTTP with libcurl</a>
<ul class="incremental">
<li><a href="libcurl-http-responses.html">HTTP responses</a></li>
<li><a href="libcurl-http-requests.html">HTTP requests</a></li>
<li><a href="libcurl-http-versions.html">HTTP versions</a></li>
<li><a href="libcurl-http-ranges.html">HTTP ranges</a></li>
<li><a href="libcurl-http-auth.html">HTTP authentication</a></li>
<li><a href="libcurl-http-cookies.html">Cookies with libcurl</a></li>
<li><a href="libcurl-http-download.html">Download</a></li>
<li><a href="libcurl-http-upload.html">Upload</a></li>
</ul></li>
<li><a href="bindings.html">Bindings</a></li>
<li><a href="internals.html">libcurl internals</a></li>
<li><a href="bookindex.html">Index</a></li>
</ul>
