<h1 id="libcurl-examples">libcurl examples</h1>
<p>The native API for libcurl is in C so this chapter is focused on examples written in C. But since many language bindings for libcurl are thin, they usually expose more or less the same functions and thus they can still be interesting and educational for users of other languages, too.</p>
<h2 id="get-an-ftp-directory-listing">Get an FTP directory listing</h2>
<p>TBD</p>
<h2 id="upload-data-to-an-http-site-without-blocking">Upload data to an HTTP site without blocking</h2>
<p>TBD</p>
