<h2 id="libcurl-multi-threading">libcurl multi-threading</h2>
<p>libcurl is thread safe but has no internal thread synchronization. You may have to provide your own locking or change options to properly use libcurl threaded. Exactly what is required depends on how libcurl was built. Please refer to the <a href="https://curl.haxx.se/libcurl/c/threadsafe.html">libcurl thread safety</a> webpage, which contains the latest information.</p>
