<h2 id="verbose-operations">Verbose operations</h2>
<p>Okay, we just showed how to get the error as a human readable text as that is an excellent help to figure out what went wrong in a particular transfer and often explains why it can be done like that or what the problem is for the moment.</p>
<p>The next lifesaver when writing libcurl applications that everyone needs to know about and needs to use extensively, at least while developing libcurl applications or debugging libcurl itself, is to enable “verbose mode” with <code>CURLOPT_VERBOSE</code>:</p>
<pre><code>CURLcode ret = curl_easy_setopt(handle, CURLOPT_VERBOSE, 1L);</code></pre>
<p>When libcurl is told to be verbose it will mention transfer-related details and information to stderr while the transfer is ongoing. This is awesome to figure out why things fail and to learn exactly what libcurl does when you ask it different things. You can redirect the output elsewhere by changing stderr with <code>CURLOPT_STDERR</code> or you can get even more info in a fancier way with the debug callback (explained further in a later section).</p>
<h3 id="trace-everything">Trace everything</h3>
<p>Verbose is certainly fine, but sometimes you need more. libcurl also offers a trace callback that in addition to showing you all the stuff the verbose mode does, it also passes on <em>all</em> data sent and received so that your application gets a full trace of everything.</p>
<p>The sent and received data passed to the trace callback is given to the callback in its unencrypted form, which can be handy when working with TLS or SSH based protocols when capturing the data off the network for debugging is not practical.</p>
<p>When you set the <code>CURLOPT_DEBUGFUNCTION</code> option, you still need to have <code>CURLOPT_VERBOSE</code> enabled but with the trace callback set libcurl will use that callback instead of its internal handling.</p>
<p>The trace callback should match a prototype like this:</p>
<pre><code>int my_trace(CURL *handle, curl_infotype type, char *ptr, size_t size,
             void *userp);</code></pre>
<p><strong>handle</strong> is the easy handle it concerns, <strong>type</strong> describes the particular data passed to the callback (data in/out, header in/out, TLS data in/out and “text”), <strong>ptr</strong> points to the data being <strong>size</strong> number of bytes. <strong>userp</strong> is the custom pointer you set with <code>CURLOPT_DEBUGDATA</code>.</p>
<p>The data pointed to by <strong>ptr</strong> <em>will not</em> be zero terminated, but will be exactly of the size as told by the <strong>size</strong> argument.</p>
<p>The callback must return 0 or libcurl will consider it an error and abort the transfer.</p>
<p>On the curl web site, we host an example called <a href="https://curl.haxx.se/libcurl/c/debug.html">debug.c</a> that includes a simple trace function to get inspiration from.</p>
<p>There are also additional details in the <a href="https://curl.haxx.se/libcurl/c/CURLOPT_DEBUGFUNCTION.html">CURLOPT_DEBUGFUNCTION man page</a>.</p>
