<h1 id="http-with-libcurl">HTTP with libcurl</h1>
<p>HTTP is by far the most commonly used protocol by libcurl users and libcurl offers countless ways of modifying such transfers. See the <a href="http-basics.md">HTTP protocol basics</a> for some basics on how the HTTP protocol works.</p>
<h2 id="https">HTTPS</h2>
<p>Doing HTTPS is typically done the same way as for HTTP as the extra security layer and server verification etc is done automatically and transparently by default. Just use the <code>https://</code> scheme in the URL.</p>
<p>HTTPS is HTTP with TLS on top. See also the <a href="libcurl-tlsoptions.md">TLS options</a> section.</p>
<h2 id="http-proxy">HTTP proxy</h2>
<p>See <a href="libcurl-proxies.md">using Proxies with libcurl</a></p>
