<h1 id="get-a-simple-html-page">Get a simple HTML page</h1>
<p>This example just fetches the HTML from a given URL and sends it to stdout. Possibly the simplest libcurl program you can write.</p>
<p>By replacing the URL this will of course be able to get contents over other supported protocols as well.</p>
<p>Getting the output sent to stdout is a default behavior and usually not what you actually want. Most applications will instead install a <a href="callback-write.md">write callback</a> to have receive the data that arrives.</p>
<pre><code>#include &lt;stdio.h&gt;
#include &lt;curl/curl.h&gt;

int main(void)
{
  CURL *curl;
  CURLcode res;

  curl = curl_easy_init();
  if(curl) {
    curl_easy_setopt(curl, CURLOPT_URL, &quot;http://example.com/&quot;);

    /* Perform the request, res will get the return code */
    res = curl_easy_perform(curl);
    /* Check for errors */
    if(res != CURLE_OK)
      fprintf(stderr, &quot;curl_easy_perform() failed: %s\n&quot;,
              curl_easy_strerror(res));

    /* always cleanup */
    curl_easy_cleanup(curl);
  }
  return 0;
}</code></pre>
