<h1 id="libcurl-tls-options">libcurl TLS options</h1>
<p>At the time of writing this, there are no less than <strong>forty</strong> different options for curl_easy_setopt that are dedicated for controlling how libcurl does SSL and TLS.</p>
<p>Transfers done using TLS use safe defaults but since curl is used in many different scenarios and setups, chances are you will end up in situations where you want to change those behaviors.</p>
<h2 id="protocol-version">Protocol version</h2>
<p>With <code>CURLOPT_SSLVERSION' and</code>CURLOPT_PROXY_SSLVERSION`you can specify which SSL or TLS protocol range that is acceptable to you. Traditionally SSL and TLS protocol versions have been found detect and unsuitable for use over time and even if curl itself will raise its default lower version over time you might want to opt for only using the latest and most security protocol versions.</p>
<p>These options take a lowest acceptiable version and optionally a maximum. If the server cannot negotiate a connection with that condition, the transfer will fail.</p>
<p>Example:</p>
<pre><code>curl_easy_setopt(easy, CURLOPT_SSLVERSION, CURL_SSLVERSION_TLSv1_2);</code></pre>
<h2 id="protocol-details-and-behavior">Protocol details and behavior</h2>
<p>You can select what ciphers to use by setting <code>CURLOPT_SSL_CIPHER_LIST</code> and <code>CURLOPT_PROXY_SSL_CIPHER_LIST</code>.</p>
<p>You can ask to enable SSL “False Start” with <code>CURLOPT_SSL_FALSESTART</code>, and there are a few other behavior changes to tweak using <code>CURLOPT_SSL_OPTIONS</code>.</p>
<h2 id="verification">Verification</h2>
<p>A TLS-using client needs to verify that the server it speaks to is the correct and trusted one. This is done by verifying that the server’s certificate is signed by a Certificate Authority (CA) for which curl has a public key for and that the certificate contains the server’s name. Failing any of these checks will cause the transfer to fail.</p>
<p>For development purposes and for experimenting, curl allows an application to switch off either or both of these checks for the server or for a HTTPS proxy.</p>
<ul class="incremental">
<li><p><code>CURLOPT_SSL_VERIFYPEER</code> controls the check that the certificate is signed by a trusted CA.</p></li>
<li><p><code>CURLOPT_SSL_VERIFYHOST</code> controls the check for the name within the certificate.</p></li>
<li><p><code>CURLOPT_PROXY_SSL_VERIFYPEER</code> is the proxy version of <code>CURLOPT_SSL_VERIFYPEER</code>.</p></li>
<li><p><code>CURLOPT_PROXY_SSL_VERIFYHOST</code> is the proxy version of <code>CURLOPT_SSL_VERIFYHOST</code>.</p></li>
</ul>
<p>Optionally, you can tell curl to verify the certificate’s public key against a known hash using <code>CURLOPT_PINNEDPUBLICKEY</code> or <code>CURLOPT_PROXY_PINNEDPUBLICKEY</code>. Here too, a mismatch will cause the transfer to fail.</p>
<h2 id="authentication">Authentication</h2>
<h3 id="tls-client-certificates">TLS Client certificates</h3>
<p>When using TLS and the server asks the client to authentice using certificates, you typically specify the private key and the corresponding client certificate using <code>CURLOPT_SSLKEY</code> and <code>CURLOPT_SSLCERT</code>. The password for the key is usually also required to be set, with <code>CURLOPT_SSLKEYPASSWD</code>.</p>
<p>Again, the same set of options exist separately for connections to HTTPS proxies: <code>CURLOPT_PROXY_SSLKEY</code>, <code>CURLOPT_PROXY_SSLCERT</code> etc.</p>
<h3 id="tls-auth">TLS auth</h3>
<p>TLS connections offer a (rarely used) feature called Secure Remote Passwords. Using this, you authenticate the connection for the server using a name and password and the options are called <code>CURLOPT_TLSAUTH_USERNAME</code> and <code>CURLOPT_TLSAUTH_PASSWORD</code>.</p>
<h2 id="starttls">STARTTLS</h2>
<p>For protocols that are using the STARTLS method to upgrade the connection to TLS (FTP, IMAP, POP3, and SMTP), you usually tell curl to use the non-TLS version of the protocol when specifying a URL and then ask curl to enable TLS with the <code>CURLOPT_USE_SSL</code> option.</p>
<p>This option allows a client to let curl continue if it cannot upgrade to TLS, but that’s not a recommend path to walk as then you might be using an insecure protocol without properly noticing.</p>
<pre><code>/* require use of SSL for this, or fail */
curl_easy_setopt(curl, CURLOPT_USE_SSL, CURLUSESSL_ALL);</code></pre>
