<h2 id="copyright">Copyright</h2>
<p>Copyright is a legal right granted by the law of a country that gives the creator of an original work exclusive rights for its use and distribution.</p>
<p>The copyright owner(s) can agree to allow others to use their work by licensing it. That’s what we do in the curl project. The copyright is the foundation on which the licensing works.</p>
<p>Daniel Stenberg is the owner of most copyrights in the curl project.</p>
<h2 id="independent">Independent</h2>
<p>A lot of Open Source projects are run within umbrella organizations. Such organizations include the GNU project, the Apache Software Foundation, a larger company that funds the project or similar. The curl project is not part of any such larger organization but is completely independent and free.</p>
<p>No company controls curl’s destiny and the curl project does not need to follow any umbrella organization’s guidelines.</p>
<p>curl is not a formal company, organization or a legal entity of any kind. curl is just an informal collection of humans, distributed across the globe, who work together on a software project.</p>
<h2 id="legal">Legal</h2>
<p>The curl project obeys national laws of the countries in which it works. However, it is a highly visible international project, downloadable and usable in effectively every country on earth, so some local laws could be broken when using curl. That’s just the nature of it and if uncertain, you should check your own local situation.</p>
<p>There have been law suits involving technology that curl provides. One such case known to the author of this was a patent case in the US that insisted they had the rights to resumed file transfers.</p>
<p>As a generic software component that is usable everywhere to everyone, there are times when libcurl—in particular—is used in nefarious or downright malicious ways. Examples include being used in virus and malware software. That is unfortunate but nothing we can prevent.</p>
