<h1 id="open-source">Open Source</h1>
<h2 id="what-is-open-source">What is Open Source</h2>
<p>Generally, Open Source software is software that can be freely accessed, used, changed, and shared (in modified or unmodified form) by anyone. Open Source software is typically made by many people, and distributed under licenses that comply with the definition.</p>
<p>Free Software is an older and related term that basically says the same thing for all our intents and purposes, but we stick to the term Open Source in this document for simplicity.</p>
