<h2 id="development">Development</h2>
<p>We encourage everyone to participate in the development of curl and libcurl. We appreciate all the help we can get and while the main portion of this project is source code, there is a lot more than just coding and debugging help that is needed and useful.</p>
<p>We develop and discuss everything in the open, preferably on the mailing lists.</p>
<h2 id="source-code-on-github">Source code on Github</h2>
<p>The source code to curl and libcurl have also been provided and published publicly and it continues to be uploaded to the <a href="https://curl.haxx.se/">main web site</a> for every release.</p>
<p>Since March 2010, the curl source code repository has been hosted on <a href="https://github.com/">github.com</a>. By being up to date with the changes there, you can follow our day to day development closely.</p>
