<h1 id="network-and-protocols">Network and protocols</h1>
<p>Before diving in and talking about how to use curl to get things done, let’s take a look at what all this networking is and how it works, using simplifications and some minor shortcuts to give an easy overview.</p>
<p>The basics are in the <a href="protocols-network.md">networking simplified</a> chapter that tries to just draw a simple picture of what networking is from a curl perspective, and the <a href="protocols-protocols.md">protocols</a> section which explains what exactly a “protocol” is and how that works.</p>
