<h1 id="introduction">Introduction</h1>
<p><em>Everything curl</em> is an extensive guide for all things curl. The project, the command-line tool, the library, how everything started and how it came to be the useful tool it is today.</p>
<p>This guide explains how we work on developing it further, what it takes to use it, how you can contribute with code or bug reports and why millions of existing users use it.</p>
<p>This book is meant to be interesting and useful to both casual readers and somewhat more experienced developers. It offers something for everyone to pick and choose from.</p>
<p>Do not try to read it from front to back. Read the chapters or content you are curious about and flip back and forth as you see fit.</p>
<p>I hope to run this book project as I do all other projects I work on: in the open, completely free to download and read. I want it to be free for anyone to comment on, and available for everyone to contribute to and help out with.</p>
<p>Send your bug reports, pull requests or critiques to me and I will improve this book accordingly.</p>
<p>This book will never be finished. I intend to keep working on it. While I may at some point consider it fairly complete, covering most aspects of the project (even if only that seems like an insurmountable goal), the curl project will continue to move so there will always be things to update in the book as well.</p>
<p>This book project started at the end of September 2015.</p>
<h2 id="the-book-sites">The book sites</h2>
<p><strong>https://ec.haxx.se</strong> is the home of this book. It features accessible links to read the book online in a web version, or download a PDF version for offline reading. Unfortunately, the previously provided ebook formats are no longer provided by gitbook.com that we use to produce the book.</p>
<p><strong>https://github.com/bagder/everything-curl</strong> hosts all the book content.</p>
<h2 id="the-author">The author</h2>
<p>With the hope of becoming just a co-author of this material, I am Daniel Stenberg. I founded the curl project and I’m a developer at heart—for fun and profit. I live and work in Stockholm, Sweden.</p>
<p>All there is to know about me can be found on <a href="https://daniel.haxx.se/">my web site</a>.</p>
<h2 id="help">Help</h2>
<p>If you find mistakes, omissions, errors or blatant lies in this document, please send me a refreshed version of the affected paragraph and I will make amended versions. I will give proper credits to everyone who helps out! I hope to make this document better over time.</p>
<p>Preferably, you could submit <a href="https://github.com/bagder/everything-curl/issues">errors</a> or <a href="https://github.com/bagder/everything-curl/pulls">pull requests</a> on the book’s Github page.</p>
<h2 id="helpers">Helpers</h2>
<p>Lots of people have reported bugs, improved sections or otherwise helped making this book the success it is. These friends include the following:</p>
<p>Anders Roxell, Angad Gill, Aris (Karim) Merchant, Ben Peachey, Carlton Gibson, Chris DeLuca, Citizen Esosa, Dan Fandrich, DrDoom74 at Github, Emil Hessman, Frank Hassanabad, Gautham B A, Geir Hauge, Jay Satiro, JoyIfBam5, Luca Niccoli, Manuel, Marius Žilėnas, Martin van den Nieuwelaar, Ms2ger, Nick Travers, Oscar, Saravanan Musuwathi Kesavan, Senthil Kumaran, Viktor Szakats, Vitaliy T, Wieland Hoffmann, alawvt, bookofportals, ethomag, infinnovation-dev on Github, mehandes</p>
<h2 id="license">License</h2>
<p>This document is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 license</a>.</p>
