<h1 id="the-source-code">The source code</h1>
<p>The source code is, of course, the actual engine parts of this project. After all, it is a software project.</p>
<p>curl and libcurl are written in C.</p>
<h2 id="hosting-and-download">Hosting and download</h2>
<p>You can always find the source code for the latest curl and libcurl release on the <a href="https://curl.haxx.se/">official curl web site</a>. From there you can also find alternative mirrors that host copies and there are checksums and digital signatures provided to help you verify that what ends up on your local system when you download these files are the same bytes in the same order as were originally uploaded there by the curl team.</p>
<p>If you instead would rather work directly with the curl source code off our source code repository, you find all details in <a href="https://github.com/curl/curl/">the curl Github repository</a>.</p>
<h2 id="clone-the-code">Clone the code</h2>
<pre><code>git clone https://github.com/curl/curl.git</code></pre>
<p>This will get the latest curl code downloaded and unpacked in a directory on your local system.</p>
