<h1 id="timeouts">Timeouts</h1>
<p>Network operations are by their nature rather unreliable or perhaps fragile operations as they depend on a set of services and networks to be up and working for things to work. The availability of these services can come and go and the performance of them may also vary greatly from time to time.</p>
<p>The design of TCP even allows the network to get completely disconnected for an extended period of time without it necessarily getting noticed by the participants in the transfer.</p>
<p>The result of this is that sometimes Internet transfers take a long time. Further, most operations in curl have no time-out by default!</p>
<h2 id="maximum-time-allowed-to-spend">Maximum time allowed to spend</h2>
<p>Tell curl with <code>-m / --max-time</code> the maximum time, in seconds, that you allow the command line to spend before curl exits with a timeout error code (28). When the set time has elapsed, curl will exit no matter what is going on at that moment—including if it is transferring data. It really is the maximum time allowed.</p>
<p>The given maximum time can be specified with a decimal precision; <code>0.5</code> means 500 milliseconds and <code>2.37</code> equals 2370 milliseconds.</p>
<p>Example:</p>
<pre><code>curl --max-time 5.5 https://example.com/</code></pre>
<p>(Your locale may use another symbol than a dot for expressing numerical fractions.)</p>
<h2 id="never-spend-more-than-this-to-connect">Never spend more than this to connect</h2>
<p><code>--connect-timeout</code> limits the time curl will spend trying to connect to the host. All the necessary steps done before the connection is considered complete have to be completed within the given time frame. Failing to connect within the given time will cause curl to exit with a timeout exit code (28).</p>
<p>The given maximum connect time can be specified with a decimal precision; <code>0.5</code> means 500 milliseconds and <code>2.37</code> equals 2370 milliseconds:</p>
<pre><code>curl --connect-timeout 2.37 https://example.com/</code></pre>
<h2 id="transfer-speeds-slower-than-this-means-exit">Transfer speeds slower than this means exit</h2>
<p>Having a fixed maximum time for a curl operation can be cumbersome, especially if you, for example, do scripted transfers and the file sizes and transfer times vary a lot. A fixed timeout value then needs to be set unnecessarily high to cover for worst cases.</p>
<p>As an alternative to a fixed time-out, you can tell curl to abandon the transfer if it gets below a certain speed and stays below that threshold for a specific period of time.</p>
<p>For example, if a transfer speed goes below 1000 bytes per second during 15 seconds, stop it:</p>
<pre><code>curl --speed-time 15 --speed-limit 1000 https://example.com/</code></pre>
<h2 id="keep-connections-alive">Keep connections alive</h2>
<p>curl enables TCP keep-alive by default. TCP keep-alive is a feature that makes the TCP stack send a probe to the other side when there’s no traffic, to make sure that it is still there and “alive”. By using keep-alive, curl is much more likely to discover that the TCP connection is dead.</p>
<p>Use <code>--keepalive-time</code> to specify how often in full seconds you would like the probe to get sent to the peer. The default value is 60 seconds.</p>
<p>Sometimes this probing disturbs what you are doing and then you can easily disable it with <code>--no-keepalive</code>.</p>
