<h1 id="write-out">–write-out</h1>
<p>This is one of the often forgotten little gems in the curl arsenal of command line options. <code>--write-out</code> or just <code>-w</code> for short, writes out information after a transfer has completed and it has a large range of variables that you can include in the output, variables that have been set with values and information from the transfer.</p>
<p>You tell curl to write a string just by passing that string to this option:</p>
<pre><code>curl -w &quot;formatted string&quot; http://example.com/</code></pre>
<p>…and you can also have curl read that string from a given file instead if you prefix the string with ‘@’:</p>
<pre><code>curl -w @filename http://example.com/</code></pre>
<p>…or even have curl read the string from stdin if you use ‘-’ as filename:</p>
<pre><code>curl -w @- http://example.com/</code></pre>
<p>The variables that are available are accessed by writing <code>%{variable_name}</code> in the string and that variable will then be substituted by the correct value. To output a normal ‘%’ you just write it as ‘%%’. You can also output a newline by using ‘’, a carriage return with ‘ and a tab space with’.</p>
<p>(The %-symbol is special on the Windows command line, where all occurrences of % must be doubled when using this option.)</p>
<p>As an example, we can output the Content-Type and the response code from an HTTP transfer, separated with newlines and some extra text like this:</p>
<pre><code>curl -w &quot;Type: %{content_type}\nCode: %{response_code}\n&quot; http://example.com</code></pre>
<p>This feature writes the output to stdout so you probably want to make sure that you do not also send the downloaded content to stdout as then you might have a hard time to separate out the data.</p>
<h2 id="available-write-out-variables">Available –write-out variables</h2>
<p>Some of these variables are not available in really old curl versions.</p>
<ul class="incremental">
<li><p><code>%{content_type}</code> shows the Content-Type of the requested document, if there was any.</p></li>
<li><p><code>%{filename_effective}</code> shows the ultimate filename that curl writes out to. This is only meaningful if curl is told to write to a file with the <code>--remote-name</code> or <code>--output</code> option. It’s most useful in combination with the <code>--remote-header-name</code> option.</p></li>
<li><p><code>%{ftp_entry_path}</code> shows the initial path curl ended up in when logging on to the remote FTP server.</p></li>
<li><p><code>%{response_code}</code> shows the numerical response code that was found in the last transfer.</p></li>
<li><p><code>%{http_connect}</code> shows the numerical code that was found in the last response (from a proxy) to a curl CONNECT request.</p></li>
<li><p><code>%{local_ip}</code> shows the IP address of the local end of the most recently done connection—can be either IPv4 or IPv6</p></li>
<li><p><code>%{local_port}</code> shows the local port number of the most recently made connection</p></li>
<li><p><code>%{num_connects}</code> shows the number of new connects made in the recent transfer.</p></li>
<li><p><code>%{num_redirects}</code> shows the number of redirects that were followed in the request.</p></li>
<li><p><code>%{redirect_url}</code> shows the actual URL a redirect <em>would</em> take you to when an HTTP request was made without <code>-L</code> to follow redirects.</p></li>
<li><p><code>%{remote_ip}</code> shows the remote IP address of the most recently made connection—can be either IPv4 or IPv6.</p></li>
<li><p><code>%{remote_port}</code> shows the remote port number of the most recently made connection.</p></li>
<li><p><code>%{size_download}</code> shows the total number of bytes that were downloaded.</p></li>
<li><p><code>%{size_header}</code> shows the total number of bytes of the downloaded headers.</p></li>
<li><p><code>%{size_request}</code> shows the total number of bytes that were sent in the HTTP request.</p></li>
<li><p><code>%{size_upload}</code> shows the total number of bytes that were uploaded.</p></li>
<li><p><code>%{speed_download}</code> shows the average download speed that curl measured for the complete download in bytes per second.</p></li>
<li><p><code>%{speed_upload}</code> shows the average upload speed that curl measured for the complete upload in bytes per second.</p></li>
<li><p><code>%{ssl_verify_result}</code> shows the result of the SSL peer certificate verification that was requested. 0 means the verification was successful.</p></li>
<li><p><code>%{time_appconnect}</code> shows the time, in seconds, it took from the start until the SSL/SSH/etc connect/handshake to the remote host was completed.</p></li>
<li><p><code>%{time_connect}</code> shows the time, in seconds, it took from the start until the TCP connect to the remote host (or proxy) was completed.</p></li>
<li><p><code>%{time_namelookup}</code> shows the time, in seconds, it took from the start until the name resolving was completed.</p></li>
<li><p><code>%{time_pretransfer}</code> shows the time, in seconds, it took from the start until the file transfer was just about to begin. This includes all pre-transfer commands and negotiations that are specific to the particular protocol(s) involved.</p></li>
<li><p><code>%{time_redirect}</code> shows the time, in seconds, it took for all redirection steps including name lookup, connect, pre-transfer and transfer before the final transaction was started. time_redirect shows the complete execution time for multiple redirections.</p></li>
<li><p><code>%{time_starttransfer}</code> shows the time, in seconds, it took from the start until the first byte was just about to be transferred. This includes time_pretransfer and also the time the server needed to calculate the result.</p></li>
<li><p><code>%{time_total}</code> shows the total time, in seconds, that the full operation lasted. The time will be displayed with millisecond resolution.</p></li>
<li><p><code>%{url_effective}</code> shows the URL that was fetched last. This is particularly meaningful if you have told curl to follow Location: headers (with <code>-L</code>).</p></li>
</ul>
